In [1]:
import os
import random
from datetime import date, timedelta
from sqlalchemy.orm import declarative_base, relationship, sessionmaker
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Date, Float
import sqlite3
import re
import ast
import json
import contextlib

In [2]:


def extract_sql_code_block(text: str) -> str:
    """
    Extracts SQL from markdown-style code blocks if present.
    If the input looks like a list of tuples in string form, it will:
    - Parse the list
    - Quote all inner values
    - Sort the list
    - Return a string of tuples joined by commas
    """
    text = text.strip()

    # Handle SQL code block: ```sql ... ```
    match = re.search(r"```sql\s*(.*?)\s*```", text, re.DOTALL | re.IGNORECASE)
    if match:
        sql = match.group(1).replace('\n', ' ').strip()
        return sql

    # Handle list-of-tuples-as-string case
    try:
        # Safely evaluate the string to a Python list
        parsed = ast.literal_eval(text)
        if isinstance(parsed, list) and all(isinstance(item, tuple) for item in parsed):
            # Convert all inner items to strings and quote them
            normalized = [
                tuple(str(x).strip() for x in row)
                for row in parsed
            ]
            # Sort for consistent comparison
            sorted_rows = sorted(normalized)
            return ", ".join(str(row) for row in sorted_rows)
    except Exception:
        pass

    # Fallback: remove brackets if it looks like a wrapped string
    if text.startswith("[") and text.endswith("]"):
        text = text[1:-1].strip().strip("'\"")

    return text.replace('\n', ' ').strip()

In [3]:
import getpass
import os

if "TOGETHER_API_KEY" not in os.environ:
    os.environ["TOGETHER_API_KEY"] = getpass.getpass("af437c26f93bd7d80c5d9af2c63e4e8c44886676503bc843cc133803892a41f0")

In [6]:
import os
os.environ["TOGETHER_API_KEY"] = "af437c26f93bd7d80c5d9af2c63e4e8c44886676503bc843cc133803892a41f0"

In [7]:
os.environ["TOGETHER_API_KEY"]

'af437c26f93bd7d80c5d9af2c63e4e8c44886676503bc843cc133803892a41f0'

In [8]:
from langchain_together import ChatTogether

llm = ChatTogether(
    model="meta-llama/Llama-3.3-70B-Instruct-Turbo-Free",
    temperature=0,
    max_tokens=None,
    timeout=None,
    max_retries=2,
    # other params...
)

In [9]:
llm.invoke("who are you?").content

'I\'m an artificial intelligence model known as Llama. Llama stands for "Large Language Model Meta AI."'

In [ ]:
from langchain.chat_models import ChatOpenAI

llm = ChatOpenAI(
    model_name="togethercomputer/llama-3-70b",
    openai_api_base="https://api.together.xyz/v1",
    openai_api_key="your_together_ai_api_key"
)

In [3]:
# Tugberk Groq API Key
#GROQ_API_KEY=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
#-------------
#GROQ_API_KEY=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
# GROQ_API_KEY=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
#--------Shivam
#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

In [ ]:
os.environ["GROQ_API_KEY"]="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"

In [ ]:
from langchain_groq import ChatGroq

#os.environ['GROQ_API_KEY'] = userdata.get('GROQ_API_KEY')
#os.environ['GROQ_API_KEY'] = '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'

#llm = ChatGroq(model='llama-3.3-70b-versatile')

#print(llm.invoke('who are you?').content)

BadRequestError: Error code: 400 - {'error': {'message': 'Organization has been restricted. Please reach out to support if you believe this was in error.', 'type': 'invalid_request_error', 'code': 'organization_restricted'}}

In [10]:
from langchain_community.utilities import SQLDatabase
db = SQLDatabase.from_uri("sqlite:////Users/onurcanmemis/Downloads/spider_data/database/concert_singer/concert_singer.sqlite")
print(db.dialect)
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

tools

sqlite

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11747c940>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11747c940>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11747c940>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11747c940>, llm=ChatTogether(client=<openai.resources.chat.completions.completions.Completions object at 0x115b659d0>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x103bbebb0>, model_name='meta-llama/Llama-3.3-70B-Instruct-Turbo-Free', temperature=0.0, model_kwargs={}, max_retries=2, together_api_key=SecretStr('**********'), together_api_base='https://api.together.xyz/v1/'), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatTogether(client=<openai.resources.chat.completions.completions.Completions object at 0x115b659d0>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x103bbebb0>, model_name='meta-llama/Llama-3.3-70B-Instruct-Turbo-Free', temperature=0.0, model_kwargs={}, max_retries=2, together_api_key=SecretStr('**********'), together_api_base='https://api.together.xyz/v1/'), output_parser=StrOutputParser(), llm_kwargs={}))]

In [11]:
for i in tools:
    print(i.name)
    print(i.description)

sql_db_query
Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.
sql_db_schema
Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3
sql_db_list_tables
Input is an empty string, output is a comma-separated list of tables in the database.
sql_db_query_checker
Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!

In [12]:
table_names = db.get_usable_table_names()
system_message = """
You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run,
then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting
examples in the database. Never query for all the columns from a specific table,
only ask for the relevant columns given the question.

You MUST double check your query before executing it. If you get an error while
executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
database.

The tables in the database is given as {table_names}. To start you should ALWAYS look at the tables and their columns in the database to see what you
can query. Do NOT skip this step.

Then you should query the schema of the most relevant tables.
""".format(
    dialect="SQLite",
    table_names=", ".join(table_names)
)
from langchain_core.messages import HumanMessage
from langgraph.prebuilt import create_react_agent

agent_executor = create_react_agent(llm, tools, prompt=system_message)

In [33]:
import ast

def extract_sql_and_result_from_agent_output(agent_output: dict) -> dict:
    """
    Extract the final SQL query and its returned value from LangGraph-style agent output.

    Returns a dictionary with:
        - 'gold_sql': SQL query as string
        - 'gold_result': formatted string of tuples
    """
    messages = agent_output.get("messages", [])

    sql_query = ""
    sql_result = ""

    for msg in messages:
        if hasattr(msg, "name") and msg.name == "sql_db_query":
            # This is the ToolMessage containing the SQL result
            raw_result = msg.content
            try:
                parsed = ast.literal_eval(raw_result)
                if isinstance(parsed, list) and all(isinstance(t, tuple) for t in parsed):
                    sorted_rows = sorted(tuple(str(i).strip() for i in row) for row in parsed)
                    sql_result = ", ".join(str(row) for row in sorted_rows)
            except Exception as e:
                sql_result = raw_result  # fallback to raw

        elif hasattr(msg, "tool_calls"):
            for tool_call in msg.tool_calls:
                if tool_call["name"] == "sql_db_query":
                    sql_query = tool_call["args"]["query"]

    return {
        "generated_sql": sql_query.strip(),
        "generated_result": sql_result.strip()
    }

In [25]:
answer=agent_executor.invoke(
            {"messages": [{"role": "user", "content": golden_data_easy[1]["question"]}]},
            config={"recursion_limit": 10}
        )

In [34]:
extract_sql_and_result_from_agent_output(answer)

{'generated_sql': 'SELECT COUNT(*) FROM singer', 'generated_result': "('6',)"}

In [10]:
events = agent_executor.stream(
    {"messages": [("user", golden_data_easy[0]["question"])]},
    stream_mode="values",
)
for event in events:
    event["messages"][-1].pretty_print()

================================ Human Message =================================

How many singers do we have?
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_knnk)
 Call ID: call_knnk
  Args:
    tool_input:
================================= Tool Message =================================
Name: sql_db_list_tables

concert, singer, singer_in_concert, stadium
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_8605)
 Call ID: call_8605
  Args:
    table_names: singer, singer_in_concert, concert, stadium
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE concert (
	"concert_ID" INTEGER,
	"concert_Name" TEXT,
	"Theme" TEXT,
	"Stadium_ID" TEXT,
	"Year" TEXT,
	PRIMARY KEY ("concert_ID"),
	FOREIGN KEY("Stadium_ID") REFERENCES stadium ("Stadium_ID")
)

/*
3 rows from concert table:
concert_ID	concert_Name	Theme	Stadium_ID	Year
1	Auditions	Free choice	1	2014
2	Super bootcamp	Free choice 2	2	2014
3	Home Visits	Bleeding Love	2	2015
*/


CREATE TABLE singer (
	"Singer_ID" INTEGER,
	"Name" TEXT,
	"Country" TEXT,
	"Song_Name" TEXT,
	"Song_release_year" TEXT,
	"Age" INTEGER,
	"Is_male" BOOLEAN,
	PRIMARY KEY ("Singer_ID")
)

/*
3 rows from singer table:
Singer_ID	Name	Country	Song_Name	Song_release_year	Age	Is_male
1	Joe Sharp	Netherlands	You	1992	52	True
2	Timbaland	United States	Dangerous	2008	32	True
3	Justin Brown	France	Hey Oh	2013	29	True
*/


CREATE TABLE singer_in_concert (
	"concert_ID" INTEGER,
	"Singer_ID" TEXT,
	PRIMARY KEY ("concert_ID", "Singer_ID"),
	FOREIGN KEY("concert_ID") REFERENCES concert ("concert_ID"),
	FOREIGN KEY("Singer_ID") REFERENCES singer ("Singer_ID")
)

/*
3 rows from singer_in_concert table:
concert_ID	Singer_ID
1	2
1	3
1	5
*/


CREATE TABLE stadium (
	"Stadium_ID" INTEGER,
	"Location" TEXT,
	"Name" TEXT,
	"Capacity" INTEGER,
	"Highest" INTEGER,
	"Lowest" INTEGER,
	"Average" INTEGER,
	PRIMARY KEY ("Stadium_ID")
)

/*
3 rows from stadium table:
Stadium_ID	Location	Name	Capacity	Highest	Lowest	Average
1	Raith Rovers	Stark's Park	10104	4812	1294	2106
2	Ayr United	Somerset Park	11998	2363	1057	1477
3	East Fife	Bayview Stadium	2000	1980	533	864
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query_checker (call_57wa)
 Call ID: call_57wa
  Args:
    query: SELECT COUNT(Singer_ID) FROM singer;
================================= Tool Message =================================
Name: sql_db_query_checker

```sql
SELECT COUNT(Singer_ID) FROM singer;
```
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_qmsy)
 Call ID: call_qmsy
  Args:
    query: SELECT COUNT(Singer_ID) FROM singer;
================================= Tool Message =================================
Name: sql_db_query

[(6,)]
================================== Ai Message ==================================

There are 6 singers.

## Hard Questions

In [36]:
import json
with open("extracted_sql_examples_hard.json", "r") as f:
    data = json.load(f)

golden_data_hard = [
    {"db_id": item["db_id"], "question": item["question"], "query": item["gold_sql"], "result": item["gold_result"]}
    for item in data
]

In [37]:
golden_data_hard[0]

{'db_id': 'concert_singer',
 'question': 'Show countries where a singer above age 40 and a singer below 30 are from.',
 'query': 'select country from singer where age > 40 intersect select country from singer where age < 30',
 'result': "('France',)"}

In [38]:
import json
import os
from tqdm import tqdm
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langgraph.prebuilt import create_react_agent

save_path = "hard_answers.json"

# Load previous progress if available
if os.path.exists(save_path):
    with open(save_path, "r") as f:
        hard_answers = json.load(f)
else:
    hard_answers = []

start_index = len(hard_answers)

# Wrap tqdm around the remaining examples
for i in tqdm(range(start_index, len(golden_data_hard)), desc="Generating SQL", unit="q"):
    item = golden_data_hard[i]
    try:
        print(item["question"])

        # Setup DB first (important: get tables *after* db is loaded)
        db = SQLDatabase.from_uri(f"sqlite:////Users/onurcanmemis/Downloads/spider_data/database/{item['db_id']}/{item['db_id']}.sqlite")
        table_names = db.get_usable_table_names()

        system_message = """
        You are an agent designed to interact with a SQL database.
        Given an input question, create a syntactically correct {dialect} query to run,
        then look at the results of the query and return the answer.
        You can order the results by a relevant column to return the most interesting
        examples in the database. Never query for all the columns from a specific table,
        only ask for the relevant columns given the question.

        You MUST double check your query before executing it. If you get an error while
        executing a query, rewrite the query and try again.

        DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
        database.

        The tables in the database is given as {table_names}. To start you should ALWAYS look at the 
        tables and their columns in the database to see what you can query. Do NOT skip this step.

        Then you should query the schema of the most relevant tables.
        """.format(
            dialect="SQLite",
            table_names=", ".join(table_names)
        )

        toolkit = SQLDatabaseToolkit(db=db, llm=llm)
        tools = toolkit.get_tools()
        agent_executor = create_react_agent(llm, tools, prompt=system_message)

        answer = agent_executor.invoke(
            {"messages": [{"role": "user", "content": item["question"]}]},
            config={"recursion_limit": 10}
        )

        generated_query = extract_sql_and_result_from_agent_output(answer)["generated_sql"]
        generated_result = extract_sql_and_result_from_agent_output(answer)["generated_result"]

        hard_answers.append({
            "db_id": item["db_id"],
            "question": item["question"],
            "generated_sql": generated_query or "",
            "result": generated_result or "",
            "gold_sql": item["query"],
            "gold_result": item["result"]
        })

        print(f"✅ Success at index {i}")
        print(hard_answers[i])

        with open(save_path, "w") as f:
            json.dump(hard_answers, f, indent=2)

    except Exception as e:
        error_msg = str(e)
        if "GRAPH_RECURSION_LIMIT" in error_msg or "Recursion limit" in error_msg:
            print(f"⚠️ Recursion limit hit at index {i}. Skipping.")
            hard_answers.append({
                "db_id": item["db_id"],
                "question": item["question"],
                "generated_sql": "",
                "result": "",
                "gold_sql": item["query"]
            })
            print(hard_answers)
        elif "tool_use_failed" in error_msg or "table" in error_msg.lower():
            print(f"⚠️ Tool failure or table issue at index {i}. Skipping.")
            break
        else:
            print(f"❌ Error at index {i}: {e}")
            break

        with open(save_path, "w") as f:
            json.dump(hard_answers, f, indent=2)

Generating SQL:   0%|          | 0/15 [00:00<?, ?q/s]

Show countries where a singer above age 40 and a singer below 30 are from.

Generating SQL:   7%|▋         | 1/15 [00:17<04:08, 17.72s/q]

✅ Success at index 0
{'db_id': 'concert_singer', 'question': 'Show countries where a singer above age 40 and a singer below 30 are from.', 'generated_sql': 'SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age > 40 INTERSECT SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age < 30', 'result': 'Error: (sqlite3.OperationalError) no such column: T1.id\n[SQL: SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age > 40 INTERSECT SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age < 30]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select country from singer where age > 40 intersect select country from singer where age < 30', 'gold_result': "('France',)"}
What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?

Generating SQL:  13%|█▎        | 2/15 [00:40<04:26, 20.47s/q]

✅ Success at index 1
{'db_id': 'concert_singer', 'question': 'What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?', 'generated_sql': 'SELECT T1.name, T1.location FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.id = T2.stadium_id WHERE T2.year = 2014 INTERSECT SELECT T1.name, T1.location FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.id = T2.stadium_id WHERE T2.year = 2015', 'result': 'Error: (sqlite3.OperationalError) no such column: T1.id\n[SQL: SELECT T1.name, T1.location FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.id = T2.stadium_id WHERE T2.year = 2014 INTERSECT SELECT T1.name, T1.location FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.id = T2.stadium_id WHERE T2.year = 2015]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select t2.name, t2.location from concert as t1 join stadium as t2 on t1.stadium_id = t2.stadium_id where t1.year = 2014 intersect select t2.name, t2.location from concert as t1 join stadium as t2 on t1.stadium_id = t2.stadium_id where t1.year = 2015', 'gold_result': "('Somerset Park', 'Ayr United')"}
find the id, name and age for visitors who visited some museums more than once.

Generating SQL:  20%|██        | 3/15 [00:54<03:29, 17.50s/q]

✅ Success at index 2
{'db_id': 'museum_visit', 'question': 'find the id, name and age for visitors who visited some museums more than once.', 'generated_sql': 'SELECT T1.id, T1.name, T1.age FROM visitor AS T1 INNER JOIN visit AS T2 ON T1.id = T2.visitor_id GROUP BY T1.id, T1.name, T1.age HAVING COUNT(T2.museum_id) > 1', 'result': "('3', 'Arjen Robben', '27'), ('5', 'Fernando Gago', '36'), ('6', 'Rafael van der Vaart', '25')", 'gold_sql': 'select t1.id, t1.name, t1.age from visitor as t1 join visit as t2 on t1.id = t2.visitor_id group by t1.id having count(*) > 1', 'gold_result': "('3', 'Arjen Robben', '27'), ('5', 'Fernando Gago', '36'), ('6', 'Rafael van der Vaart', '25')"}
Which states have both owners and professionals living there?

Generating SQL:  27%|██▋       | 4/15 [01:03<02:36, 14.27s/q]

✅ Success at index 3
{'db_id': 'dog_kennels', 'question': 'Which states have both owners and professionals living there?', 'generated_sql': 'SELECT DISTINCT T1.state FROM Owners AS T1 INNER JOIN Professionals AS T2 ON T1.state = T2.state', 'result': "('Indiana',), ('Mississippi',), ('Wisconsin',)", 'gold_sql': 'select state from owners intersect select state from professionals', 'gold_result': "('Indiana',), ('Mississippi',), ('Wisconsin',)"}
Find the states where both owners and professionals live.

Generating SQL:  33%|███▎      | 5/15 [01:16<02:19, 13.96s/q]

✅ Success at index 4
{'db_id': 'dog_kennels', 'question': 'Find the states where both owners and professionals live.', 'generated_sql': 'SELECT DISTINCT T1.state FROM Owners AS T1 INNER JOIN Professionals AS T2 ON T1.state = T2.state', 'result': "('Indiana',), ('Mississippi',), ('Wisconsin',)", 'gold_sql': 'select state from owners intersect select state from professionals', 'gold_result': "('Indiana',), ('Mississippi',), ('Wisconsin',)"}
Which first names are used for professionals or owners but are not used as dog names?

Generating SQL:  40%|████      | 6/15 [01:32<02:11, 14.58s/q]

✅ Success at index 5
{'db_id': 'dog_kennels', 'question': 'Which first names are used for professionals or owners but are not used as dog names?', 'generated_sql': 'SELECT T1.first_name FROM (SELECT first_name FROM Owners UNION ALL SELECT first_name FROM Professionals) AS T1 LEFT JOIN (SELECT name AS first_name FROM Dogs) AS T2 ON T1.first_name = T2.first_name WHERE T2.first_name IS NULL', 'result': "('Adelle',), ('Brady',), ('Cindy',), ('Danny',), ('Domenica',), ('Emelie',), ('Ericka',), ('Gay',), ('Heather',), ('Jaclyn',), ('Jayson',), ('Johann',), ('Kade',), ('Karley',), ('Lesly',), ('Lorenz',), ('Melisa',), ('Monte',), ('Nora',), ('Olaf',), ('Orlando',), ('Rachelle',), ('Rolando',), ('Ruben',), ('Sigurd',), ('Taryn',), ('Tre',), ('Velva',), ('Vernice',), ('Winfield',)", 'gold_sql': 'select first_name from professionals union select first_name from owners except select name from dogs', 'gold_result': "('Adelle',), ('Brady',), ('Cindy',), ('Danny',), ('Domenica',), ('Emelie',), ('Ericka',), ('Gay',), ('Heather',), ('Jaclyn',), ('Jayson',), ('Johann',), ('Kade',), ('Karley',), ('Lesly',), ('Lorenz',), ('Melisa',), ('Monte',), ('Nora',), ('Olaf',), ('Orlando',), ('Rachelle',), ('Rolando',), ('Ruben',), ('Sigurd',), ('Taryn',), ('Tre',), ('Velva',), ('Vernice',), ('Winfield',)"}
Show the citizenship shared by singers with birth year before 1945 and after 1955.

Generating SQL:  47%|████▋     | 7/15 [01:53<02:14, 16.80s/q]

✅ Success at index 6
{'db_id': 'singer', 'question': 'Show the citizenship shared by singers with birth year before 1945 and after 1955.', 'generated_sql': 'SELECT citizenship FROM singer WHERE birth_year < 1945 OR birth_year > 1955', 'result': "('Chile',), ('France',), ('Germany',), ('United States',), ('United States',)", 'gold_sql': 'select citizenship from singer where birth_year < 1945 intersect select citizenship from singer where birth_year > 1955', 'gold_result': "('United States',)"}
What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?

Generating SQL:  53%|█████▎    | 8/15 [02:05<01:46, 15.22s/q]

✅ Success at index 7
{'db_id': 'singer', 'question': 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?', 'generated_sql': 'SELECT citizenship FROM singer WHERE birth_year < 1945 INTERSECT SELECT citizenship FROM singer WHERE birth_year > 1955', 'result': "('United States',)", 'gold_sql': 'select citizenship from singer where birth_year < 1945 intersect select citizenship from singer where birth_year > 1955', 'gold_result': "('United States',)"}
Return the nationalities for which there are two or more people.

Generating SQL:  60%|██████    | 9/15 [02:27<01:43, 17.23s/q]

✅ Success at index 8
{'db_id': 'poker_player', 'question': 'Return the nationalities for which there are two or more people.', 'generated_sql': 'SELECT nationality FROM people GROUP BY nationality HAVING COUNT(nationality) >= 2', 'result': "('Russia',)", 'gold_sql': 'select nationality from people group by nationality having count(*) >= 2', 'gold_result': "('Russia',)"}
What are the ids of all tv channels that have more than 2 TV channels?

Generating SQL:  67%|██████▋   | 10/15 [02:53<01:39, 19.91s/q]

✅ Success at index 9
{'db_id': 'tvshow', 'question': 'What are the ids of all tv channels that have more than 2 TV channels?', 'generated_sql': 'SELECT id FROM TV_Channel GROUP BY id HAVING COUNT(id) > 2', 'result': '', 'gold_sql': 'select id from tv_channel group by country having count(*) > 2', 'gold_result': "('700',)"}
Find the codes of countries that have more than 50 players.

Generating SQL:  73%|███████▎  | 11/15 [03:18<01:25, 21.46s/q]

✅ Success at index 10
{'db_id': 'wta_1', 'question': 'Find the codes of countries that have more than 50 players.', 'generated_sql': 'SELECT country_code FROM players GROUP BY country_code HAVING COUNT(player_id) > 50', 'result': "('ALG',), ('ARG',), ('AUS',), ('AUT',), ('BEL',), ('BIH',), ('BLR',), ('BOL',), ('BRA',), ('BUL',), ('CAN',), ('CHI',), ('CHN',), ('COL',), ('CRO',), ('CZE',), ('DEN',), ('ECU',), ('EGY',), ('ESP',), ('FIN',), ('FRA',), ('GBR',), ('GEO',), ('GER',), ('GRE',), ('HKG',), ('HUN',), ('INA',), ('IND',), ('IRL',), ('ISR',), ('ITA',), ('JPN',), ('KAZ',), ('KOR',), ('LAT',), ('MAR',), ('MEX',), ('NED',), ('NGR',), ('NOR',), ('NZL',), ('PAR',), ('PER',), ('PHI',), ('POL',), ('POR',), ('ROU',), ('RSA',), ('RUS',), ('SLO',), ('SRB',), ('SUI',), ('SVK',), ('SWE',), ('THA',), ('TPE',), ('TUN',), ('TUR',), ('UKR',), ('URU',), ('USA',), ('UZB',), ('VEN',)", 'gold_sql': 'select country_code from players group by country_code having count(*) > 50', 'gold_result': "('ALG',), ('ARG',), ('AUS',), ('AUT',), ('BEL',), ('BIH',), ('BLR',), ('BOL',), ('BRA',), ('BUL',), ('CAN',), ('CHI',), ('CHN',), ('COL',), ('CRO',), ('CZE',), ('DEN',), ('ECU',), ('EGY',), ('ESP',), ('FIN',), ('FRA',), ('GBR',), ('GEO',), ('GER',), ('GRE',), ('HKG',), ('HUN',), ('INA',), ('IND',), ('IRL',), ('ISR',), ('ITA',), ('JPN',), ('KAZ',), ('KOR',), ('LAT',), ('MAR',), ('MEX',), ('NED',), ('NGR',), ('NOR',), ('NZL',), ('PAR',), ('PER',), ('PHI',), ('POL',), ('POR',), ('ROU',), ('RSA',), ('RUS',), ('SLO',), ('SRB',), ('SUI',), ('SVK',), ('SWE',), ('THA',), ('TPE',), ('TUN',), ('TUR',), ('UKR',), ('URU',), ('USA',), ('UZB',), ('VEN',)"}
What are the codes of countries with more than 50 players?

Generating SQL:  80%|████████  | 12/15 [03:33<00:58, 19.46s/q]

✅ Success at index 11
{'db_id': 'wta_1', 'question': 'What are the codes of countries with more than 50 players?', 'generated_sql': 'SELECT country_code FROM players GROUP BY country_code HAVING COUNT(player_id) > 50', 'result': "('ALG',), ('ARG',), ('AUS',), ('AUT',), ('BEL',), ('BIH',), ('BLR',), ('BOL',), ('BRA',), ('BUL',), ('CAN',), ('CHI',), ('CHN',), ('COL',), ('CRO',), ('CZE',), ('DEN',), ('ECU',), ('EGY',), ('ESP',), ('FIN',), ('FRA',), ('GBR',), ('GEO',), ('GER',), ('GRE',), ('HKG',), ('HUN',), ('INA',), ('IND',), ('IRL',), ('ISR',), ('ITA',), ('JPN',), ('KAZ',), ('KOR',), ('LAT',), ('MAR',), ('MEX',), ('NED',), ('NGR',), ('NOR',), ('NZL',), ('PAR',), ('PER',), ('PHI',), ('POL',), ('POR',), ('ROU',), ('RSA',), ('RUS',), ('SLO',), ('SRB',), ('SUI',), ('SVK',), ('SWE',), ('THA',), ('TPE',), ('TUN',), ('TUR',), ('UKR',), ('URU',), ('USA',), ('UZB',), ('VEN',)", 'gold_sql': 'select country_code from players group by country_code having count(*) > 50', 'gold_result': "('ALG',), ('ARG',), ('AUS',), ('AUT',), ('BEL',), ('BIH',), ('BLR',), ('BOL',), ('BRA',), ('BUL',), ('CAN',), ('CHI',), ('CHN',), ('COL',), ('CRO',), ('CZE',), ('DEN',), ('ECU',), ('EGY',), ('ESP',), ('FIN',), ('FRA',), ('GBR',), ('GEO',), ('GER',), ('GRE',), ('HKG',), ('HUN',), ('INA',), ('IND',), ('IRL',), ('ISR',), ('ITA',), ('JPN',), ('KAZ',), ('KOR',), ('LAT',), ('MAR',), ('MEX',), ('NED',), ('NGR',), ('NOR',), ('NZL',), ('PAR',), ('PER',), ('PHI',), ('POL',), ('POR',), ('ROU',), ('RSA',), ('RUS',), ('SLO',), ('SRB',), ('SUI',), ('SVK',), ('SWE',), ('THA',), ('TPE',), ('TUN',), ('TUR',), ('UKR',), ('URU',), ('USA',), ('UZB',), ('VEN',)"}
Show the hometowns shared by at least two teachers.

Generating SQL:  87%|████████▋ | 13/15 [03:42<00:32, 16.43s/q]

✅ Success at index 12
{'db_id': 'course_teach', 'question': 'Show the hometowns shared by at least two teachers.', 'generated_sql': 'SELECT hometown FROM teacher GROUP BY hometown HAVING COUNT(hometown) > 1', 'result': '', 'gold_sql': 'select hometown from teacher group by hometown having count(*) >= 2', 'gold_result': ''}
Which cities do more than one employee under age 30 come from?

Generating SQL:  93%|█████████▎| 14/15 [04:02<00:17, 17.44s/q]

✅ Success at index 13
{'db_id': 'employee_hire_evaluation', 'question': 'Which cities do more than one employee under age 30 come from?', 'generated_sql': 'SELECT city FROM employee WHERE age < 30 GROUP BY city HAVING COUNT(*) > 1', 'result': "('Bath',)", 'gold_sql': 'select city from employee where age < 30 group by city having count(*) > 1', 'gold_result': "('Bath',)"}
Find the cities that have more than one employee under age 30.

Generating SQL: 100%|██████████| 15/15 [04:22<00:00, 17.48s/q]

✅ Success at index 14
{'db_id': 'employee_hire_evaluation', 'question': 'Find the cities that have more than one employee under age 30.', 'generated_sql': 'SELECT T1.city FROM shop AS T1 INNER JOIN employee AS T2 ON T1.id = T2.shop_id WHERE T2.age < 30 GROUP BY T1.city HAVING COUNT(T2.id) > 1', 'result': 'Error: (sqlite3.OperationalError) no such column: T1.city\n[SQL: SELECT T1.city FROM shop AS T1 INNER JOIN employee AS T2 ON T1.id = T2.shop_id WHERE T2.age < 30 GROUP BY T1.city HAVING COUNT(T2.id) > 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select city from employee where age < 30 group by city having count(*) > 1', 'gold_result': "('Bath',)"}

## Medium Questions

In [44]:
import json
with open("extracted_sql_examples_medium.json", "r") as f:
    data = json.load(f)

golden_data_medium = [
    {"db_id": item["db_id"], "question": item["question"], "query": item["gold_sql"], "result": item["gold_result"]}
    for item in data
]

In [45]:
golden_data_medium[0]

{'db_id': 'concert_singer',
 'question': 'What are all distinct countries where singers above age 20 are from?',
 'query': 'select distinct country from singer where age > 20',
 'result': "('Netherlands',), ('France',), ('United States',)"}

In [52]:
import json
import os
from tqdm import tqdm
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langgraph.prebuilt import create_react_agent

save_path = "medium_answers.json"

# Load previous progress if available
if os.path.exists(save_path):
    with open(save_path, "r") as f:
        medium_answers = json.load(f)
else:
    medium_answers = []

start_index = len(medium_answers)

# Wrap tqdm around the remaining examples
for i in tqdm(range(start_index, len(golden_data_medium)), desc="Generating SQL", unit="q"):
    item = golden_data_medium[i]
    try:
        print(item["question"])

        # Setup DB first (important: get tables *after* db is loaded)
        db = SQLDatabase.from_uri(f"sqlite:////Users/onurcanmemis/Downloads/spider_data/database/{item['db_id']}/{item['db_id']}.sqlite")
        table_names = db.get_usable_table_names()

        system_message = """
        You are an agent designed to interact with a SQL database.
        Given an input question, create a syntactically correct {dialect} query to run,
        then look at the results of the query and return the answer.
        You can order the results by a relevant column to return the most interesting
        examples in the database. Never query for all the columns from a specific table,
        only ask for the relevant columns given the question.

        You MUST double check your query before executing it. If you get an error while
        executing a query, rewrite the query and try again.

        DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
        database.

        The tables in the database is given as {table_names}. To start you should ALWAYS look at the tables and their columns in the database to see what you
        can query. Do NOT skip this step.

        Then you should query the schema of the most relevant tables.
        """.format(
            dialect="SQLite",
            table_names=", ".join(table_names)
        )

        toolkit = SQLDatabaseToolkit(db=db, llm=llm)
        tools = toolkit.get_tools()
        agent_executor = create_react_agent(llm, tools, prompt=system_message)

        answer = agent_executor.invoke(
            {"messages": [{"role": "user", "content": item["question"]}]},
            config={"recursion_limit": 10}
        )

        generated_query = extract_sql_and_result_from_agent_output(answer)["generated_sql"]
        generated_result = extract_sql_and_result_from_agent_output(answer)["generated_result"]

        medium_answers.append({
            "db_id": item["db_id"],
            "question": item["question"],
            "generated_sql": generated_query or "",
            "result": generated_result or "",
            "gold_sql": item["query"],
            "gold_result": item["result"]
        })

        print(f"✅ Success at index {i}")
        print(medium_answers[i])

        with open(save_path, "w") as f:
            json.dump(medium_answers, f, indent=2)

    except Exception as e:
        error_msg = str(e)
        if "GRAPH_RECURSION_LIMIT" in error_msg or "Recursion limit" in error_msg:
            print(f"⚠️ Recursion limit hit at index {i}. Skipping.")
            medium_answers.append({
                "db_id": item["db_id"],
                "question": item["question"],
                "generated_sql": "",
                "result": "",
                "gold_sql": item["query"]
            })
            print(medium_answers)
        elif "tool_use_failed" in error_msg or "table" in error_msg.lower():
            print(f"⚠️ Tool failure or table issue at index {i}. Skipping.")
            break
        else:
            print(f"❌ Error at index {i}: {e}")
            break

        with open(save_path, "w") as f:
            json.dump(medium_answers, f, indent=2)

Generating SQL:   0%|          | 0/22 [00:00<?, ?q/s]

What are  the different countries with singers above age 20?

Generating SQL:   5%|▍         | 1/22 [00:06<02:25,  6.92s/q]

✅ Success at index 1
{'db_id': 'concert_singer', 'question': 'What are  the different countries with singers above age 20?', 'generated_sql': 'SELECT DISTINCT country FROM singer WHERE age > 20', 'result': "('France',), ('Netherlands',), ('United States',)", 'gold_sql': 'select distinct country from singer where age > 20', 'gold_result': "('Netherlands',), ('France',), ('United States',)"}
Return the owner id, first name and last name of the owner who has the most dogs.

Generating SQL:   9%|▉         | 2/22 [00:27<04:54, 14.72s/q]

✅ Success at index 2
{'db_id': 'dog_kennels', 'question': 'Return the owner id, first name and last name of the owner who has the most dogs.', 'generated_sql': 'SELECT T1.owner_id, T1.first_name, T1.last_name FROM Owners AS T1 INNER JOIN Dogs AS T2 ON T1.owner_id = T2.owner_id GROUP BY T1.owner_id ORDER BY COUNT(T2.dog_id) DESC LIMIT 1', 'result': "('14', 'Rachelle', 'Funk')", 'gold_sql': 'select t1.owner_id, t2.first_name, t2.last_name from dogs as t1 join owners as t2 on t1.owner_id = t2.owner_id group by t1.owner_id order by count(*) desc limit 1', 'gold_result': "('14', 'Rachelle', 'Funk')"}
What is the name of the breed with the most dogs?

Generating SQL:  14%|█▎        | 3/22 [00:43<04:53, 15.45s/q]

✅ Success at index 3
{'db_id': 'dog_kennels', 'question': 'What is the name of the breed with the most dogs?', 'generated_sql': 'SELECT T1.Breed_Name FROM Breeds AS T1 INNER JOIN Dogs AS T2 ON T1.Breed_ID = T2.Breed_ID GROUP BY T1.Breed_Name ORDER BY COUNT(T2.Dog_ID) DESC LIMIT 1', 'result': 'Error: (sqlite3.OperationalError) no such column: T1.Breed_ID\n[SQL: SELECT T1.Breed_Name FROM Breeds AS T1 INNER JOIN Dogs AS T2 ON T1.Breed_ID = T2.Breed_ID GROUP BY T1.Breed_Name ORDER BY COUNT(T2.Dog_ID) DESC LIMIT 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select t1.breed_name from breeds as t1 join dogs as t2 on t1.breed_code = t2.breed_code group by t1.breed_name order by count(*) desc limit 1', 'gold_result': "('Bulldog',)"}
Show the name of singers whose birth year is either 1948 or 1949?

Generating SQL:  18%|█▊        | 4/22 [00:55<04:10, 13.94s/q]

✅ Success at index 4
{'db_id': 'singer', 'question': 'Show the name of singers whose birth year is either 1948 or 1949?', 'generated_sql': 'SELECT name FROM singer WHERE birth_year = 1948 OR birth_year = 1949', 'result': "('Alice Walton',), ('Christy Walton',)", 'gold_sql': 'select name from singer where birth_year = 1948 or birth_year = 1949', 'gold_result': "('Alice Walton',), ('Christy Walton',)"}
What are the names of the singers whose birth years are either 1948 or 1949?

Generating SQL:  23%|██▎       | 5/22 [01:09<03:59, 14.08s/q]

✅ Success at index 5
{'db_id': 'singer', 'question': 'What are the names of the singers whose birth years are either 1948 or 1949?', 'generated_sql': 'SELECT name FROM singer WHERE birth_year = 1948 OR birth_year = 1949', 'result': "('Alice Walton',), ('Christy Walton',)", 'gold_sql': 'select name from singer where birth_year = 1948 or birth_year = 1949', 'gold_result': "('Alice Walton',), ('Christy Walton',)"}
Show different citizenship of singers and the number of singers of each citizenship.

Generating SQL:  27%|██▋       | 6/22 [01:27<04:10, 15.63s/q]

✅ Success at index 6
{'db_id': 'singer', 'question': 'Show different citizenship of singers and the number of singers of each citizenship.', 'generated_sql': 'SELECT citizenship, COUNT(*) FROM singer GROUP BY citizenship', 'result': "('Australia', '1'), ('Chile', '1'), ('France', '1'), ('Germany', '1'), ('United States', '4')", 'gold_sql': 'select citizenship, count(*) from singer group by citizenship', 'gold_result': "('Germany', '1'), ('Australia', '1'), ('Chile', '1'), ('France', '1'), ('United States', '4')"}
Please show the most common citizenship of singers.

Generating SQL:  32%|███▏      | 7/22 [01:34<03:11, 12.75s/q]

✅ Success at index 7
{'db_id': 'singer', 'question': 'Please show the most common citizenship of singers.', 'generated_sql': 'SELECT citizenship, COUNT(*) as count FROM singer GROUP BY citizenship ORDER BY count DESC LIMIT 1', 'result': "('United States', '4')", 'gold_sql': 'select citizenship from singer group by citizenship order by count(*) desc limit 1', 'gold_result': "('United States',)"}
What is the most common singer citizenship ?

Generating SQL:  36%|███▋      | 8/22 [01:56<03:37, 15.55s/q]

✅ Success at index 8
{'db_id': 'singer', 'question': 'What is the most common singer citizenship ?', 'generated_sql': 'SELECT citizenship FROM singer GROUP BY citizenship ORDER BY COUNT(*) DESC LIMIT 1', 'result': "('United States',)", 'gold_sql': 'select citizenship from singer group by citizenship order by count(*) desc limit 1', 'gold_result': "('United States',)"}
What is the money rank of the poker player with the highest earnings?

Generating SQL:  41%|████      | 9/22 [02:11<03:19, 15.32s/q]

✅ Success at index 9
{'db_id': 'poker_player', 'question': 'What is the money rank of the poker player with the highest earnings?', 'generated_sql': 'SELECT money_rank FROM poker_player ORDER BY earnings DESC LIMIT 1', 'result': "('58.0',)", 'gold_sql': 'select money_rank from poker_player order by earnings desc limit 1', 'gold_result': "('58.0',)"}
find the number of distinct country codes of all players.

Generating SQL:  45%|████▌     | 10/22 [02:23<02:51, 14.26s/q]

✅ Success at index 10
{'db_id': 'wta_1', 'question': 'find the number of distinct country codes of all players.', 'generated_sql': 'SELECT COUNT(DISTINCT country_code) FROM players', 'result': "('153',)", 'gold_sql': 'select count(distinct country_code) from players', 'gold_result': "('153',)"}
How many different loser names are there?

Generating SQL:  50%|█████     | 11/22 [02:35<02:30, 13.66s/q]

✅ Success at index 11
{'db_id': 'wta_1', 'question': 'How many different loser names are there?', 'generated_sql': 'SELECT COUNT(DISTINCT loser_name) FROM matches', 'result': "('49',)", 'gold_sql': 'select count(distinct loser_name) from matches', 'gold_result': "('49',)"}
List the number of all matches who played in years of 2013 or 2016.

Generating SQL:  55%|█████▍    | 12/22 [02:58<02:45, 16.56s/q]

✅ Success at index 12
{'db_id': 'wta_1', 'question': 'List the number of all matches who played in years of 2013 or 2016.', 'generated_sql': 'SELECT COUNT(*) FROM matches WHERE year = 2013 OR year = 2016', 'result': "('170',)", 'gold_sql': 'select count(*) from matches where year = 2013 or year = 2016', 'gold_result': "('170',)"}
find the code of the country where has the greatest number of players.

Generating SQL:  59%|█████▉    | 13/22 [03:15<02:29, 16.62s/q]

✅ Success at index 13
{'db_id': 'wta_1', 'question': 'find the code of the country where has the greatest number of players.', 'generated_sql': 'SELECT country_code FROM players GROUP BY country_code ORDER BY COUNT(*) DESC LIMIT 1', 'result': "('USA',)", 'gold_sql': 'select country_code from players group by country_code order by count(*) desc limit 1', 'gold_result': "('USA',)"}
What is the code of the country with the most players?

Generating SQL:  64%|██████▎   | 14/22 [03:28<02:05, 15.71s/q]

✅ Success at index 14
{'db_id': 'wta_1', 'question': 'What is the code of the country with the most players?', 'generated_sql': 'SELECT country_code FROM players GROUP BY country_code ORDER BY COUNT(*) DESC LIMIT 1', 'result': "('USA',)", 'gold_sql': 'select country_code from players group by country_code order by count(*) desc limit 1', 'gold_result': "('USA',)"}
What is the first name, country code, and birth date of the player with the most winner rank points across all matches?

Generating SQL:  68%|██████▊   | 15/22 [03:47<01:55, 16.48s/q]

✅ Success at index 15
{'db_id': 'wta_1', 'question': 'What is the first name, country code, and birth date of the player with the most winner rank points across all matches?', 'generated_sql': 'SELECT T1.first_name, T1.country_code, T1.birth_date FROM players AS T1 INNER JOIN rankings AS T2 ON T1.player_id = T2.player_id ORDER BY T2.winner_rank_points DESC LIMIT 1', 'result': 'Error: (sqlite3.OperationalError) no such column: T2.winner_rank_points\n[SQL: SELECT T1.first_name, T1.country_code, T1.birth_date FROM players AS T1 INNER JOIN rankings AS T2 ON T1.player_id = T2.player_id ORDER BY T2.winner_rank_points DESC LIMIT 1]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select t1.first_name, t1.country_code, t1.birth_date from players as t1 join matches as t2 on t1.player_id = t2.winner_id order by t2.winner_rank_points desc limit 1', 'gold_result': "('Serena', 'USA', '19810926')"}
Show the name of teachers aged either 32 or 33?

Generating SQL:  73%|███████▎  | 16/22 [04:02<01:37, 16.28s/q]

✅ Success at index 16
{'db_id': 'course_teach', 'question': 'Show the name of teachers aged either 32 or 33?', 'generated_sql': 'SELECT name FROM teacher WHERE age = 32 OR age = 33', 'result': "('John Deloor',), ('Joseph Huts',)", 'gold_sql': 'select name from teacher where age = 32 or age = 33', 'gold_result': "('Joseph Huts',), ('John Deloor',)"}
What are the names of the teachers who are aged either 32 or 33?

Generating SQL:  77%|███████▋  | 17/22 [04:16<01:16, 15.35s/q]

✅ Success at index 17
{'db_id': 'course_teach', 'question': 'What are the names of the teachers who are aged either 32 or 33?', 'generated_sql': 'SELECT name FROM teacher WHERE age = 32 OR age = 33', 'result': "('John Deloor',), ('Joseph Huts',)", 'gold_sql': 'select name from teacher where age = 32 or age = 33', 'gold_result': "('Joseph Huts',), ('John Deloor',)"}
What is the hometown of the youngest teacher?

Generating SQL:  82%|████████▏ | 18/22 [04:35<01:05, 16.49s/q]

✅ Success at index 18
{'db_id': 'course_teach', 'question': 'What is the hometown of the youngest teacher?', 'generated_sql': 'SELECT hometown FROM teacher ORDER BY age ASC LIMIT 1', 'result': "('Farnworth Municipal Borough',)", 'gold_sql': 'select hometown from teacher order by age asc limit 1', 'gold_result': "('Farnworth Municipal Borough',)"}
Show different hometown of teachers and the number of teachers from each hometown.

Generating SQL:  86%|████████▋ | 19/22 [04:44<00:42, 14.30s/q]

✅ Success at index 19
{'db_id': 'course_teach', 'question': 'Show different hometown of teachers and the number of teachers from each hometown.', 'generated_sql': 'SELECT hometown, COUNT(*) FROM teacher GROUP BY hometown', 'result': "('Blackrod Urban District', '1'), ('Bolton County Borough', '1'), ('Farnworth Municipal Borough', '1'), ('Horwich Urban District', '1'), ('Kearsley Urban District', '1'), ('Little Lever Urban District', '1'), ('Turton Urban District', '1')", 'gold_sql': 'select hometown, count(*) from teacher group by hometown', 'gold_result': "('Farnworth Municipal Borough', '1'), ('Horwich Urban District', '1'), ('Kearsley Urban District', '1'), ('Little Lever Urban District', '1'), ('Bolton County Borough', '1'), ('Blackrod Urban District', '1'), ('Turton Urban District', '1')"}
For each hometown, how many teachers are there?

Generating SQL:  91%|█████████ | 20/22 [05:01<00:30, 15.24s/q]

✅ Success at index 20
{'db_id': 'course_teach', 'question': 'For each hometown, how many teachers are there?', 'generated_sql': 'SELECT hometown, COUNT(*) FROM teacher GROUP BY hometown', 'result': "('Blackrod Urban District', '1'), ('Bolton County Borough', '1'), ('Farnworth Municipal Borough', '1'), ('Horwich Urban District', '1'), ('Kearsley Urban District', '1'), ('Little Lever Urban District', '1'), ('Turton Urban District', '1')", 'gold_sql': 'select hometown, count(*) from teacher group by hometown', 'gold_result': "('Farnworth Municipal Borough', '1'), ('Horwich Urban District', '1'), ('Kearsley Urban District', '1'), ('Little Lever Urban District', '1'), ('Bolton County Borough', '1'), ('Blackrod Urban District', '1'), ('Turton Urban District', '1')"}
List the most common hometown of teachers.

Generating SQL:  95%|█████████▌| 21/22 [05:05<00:11, 11.83s/q]

✅ Success at index 21
{'db_id': 'course_teach', 'question': 'List the most common hometown of teachers.', 'generated_sql': 'SELECT hometown, COUNT(*) as count FROM teacher GROUP BY hometown ORDER BY count DESC LIMIT 1', 'result': "('Turton Urban District', '1')", 'gold_sql': 'select hometown from teacher group by hometown order by count(*) desc limit 1', 'gold_result': "('Turton Urban District',)"}
What is the most commmon hometowns for teachers?

Generating SQL: 100%|██████████| 22/22 [05:27<00:00, 14.87s/q]

✅ Success at index 22
{'db_id': 'course_teach', 'question': 'What is the most commmon hometowns for teachers?', 'generated_sql': 'SELECT hometown, COUNT(*) as count FROM teacher GROUP BY hometown ORDER BY count DESC LIMIT 10', 'result': "('Blackrod Urban District', '1'), ('Bolton County Borough', '1'), ('Farnworth Municipal Borough', '1'), ('Horwich Urban District', '1'), ('Kearsley Urban District', '1'), ('Little Lever Urban District', '1'), ('Turton Urban District', '1')", 'gold_sql': 'select hometown from teacher group by hometown order by count(*) desc limit 1', 'gold_result': "('Turton Urban District',)"}

## Easy Questions

In [60]:
import json
with open("extracted_sql_examples_easy.json", "r") as f:
    data = json.load(f)

golden_data_easy = [
    {"db_id": item["db_id"], "question": item["question"], "query": item["gold_sql"], "result": item["gold_result"]}
    for item in data
]

In [61]:
golden_data_easy[0]

{'db_id': 'concert_singer',
 'question': 'How many singers do we have?',
 'query': 'select count(*) from singer',
 'result': "('6',)"}

In [63]:
import json
import os
from tqdm import tqdm

save_path = "easy_answers.json"

# Load previous progress if available
if os.path.exists(save_path):
    with open(save_path, "r") as f:
        easy_answers = json.load(f)
else:
    easy_answers = []

start_index = len(easy_answers)

# Wrap tqdm around the remaining examples
for i in tqdm(range(start_index, len(golden_data_easy)), desc="Generating SQL", unit="q"):
    item = golden_data_easy[i]
    try:
        print(item["question"])
        system_message = """
        You are an agent designed to interact with a SQL database.
        Given an input question, create a syntactically correct {dialect} query to run,
        then look at the results of the query and return the answer.
        You can order the results by a relevant column to return the most interesting
        examples in the database. Never query for all the columns from a specific table,
        only ask for the relevant columns given the question.

        You MUST double check your query before executing it. If you get an error while
        executing a query, rewrite the query and try again.

        DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
        database.

        The tables in the database is given as {table_names}. To start you should ALWAYS look at the tables and their columns in the database to see what you
        can query. Do NOT skip this step.

        Then you should query the schema of the most relevant tables.
        """.format(
        dialect="SQLite",
        table_names=db.get_usable_table_names()
        )
        db = SQLDatabase.from_uri(f"sqlite:////Users/onurcanmemis/Downloads/spider_data/database/{item['db_id']}/{item['db_id']}.sqlite")
        toolkit = SQLDatabaseToolkit(db=db, llm=llm)
        tools = toolkit.get_tools()
        agent_executor = create_react_agent(llm, tools, prompt=system_message)
        answer=agent_executor.invoke({"messages": [{"role": "user", "content": item["question"]}]},
                                     config={"recursion_limit": 10})
        #answers.update({"query":extract_sql_code_block(answer.get("messages")[-3].content),"return":extract_sql_code_block(answer.get("messages")[-2].content)})
        generated_query=extract_sql_and_result_from_agent_output(answer)["generated_sql"]
        generated_result=extract_sql_and_result_from_agent_output(answer)["generated_result"]
        easy_answers.append({
            "db_id": item["db_id"],
            "question": item["question"],
            "generated_sql": generated_query or "",
            "result": generated_result or "",
            "gold_sql":item["query"],
            "gold_result":item["result"]
        })
        print(f"✅ Success at index {i}")
        print(easy_answers[i])

        # Save progress after each successful query
        with open(save_path, "w") as f:
            json.dump(easy_answers, f, indent=2)

    except Exception as e:
        error_msg = str(e)
        if "GRAPH_RECURSION_LIMIT" in error_msg or "Recursion limit" in error_msg:
            print(f"⚠️ Recursion limit hit at index {i}. Skipping.")
            easy_answers.append({
            "db_id": item["db_id"],
            "question": item["question"],
            "generated_sql": "",
            "result": ""})
            print(easy_answers[i])
        elif "tool_use_failed" in error_msg or "table" in error_msg.lower():
            print(f"⚠️ Tool failure or table issue at index {i}. Skipping.")
            break
        else:
            print(f"❌ Error at index {i}: {e}")
            break

        with open(save_path, "w") as f:
            json.dump(easy_answers, f, indent=2)

Generating SQL:   0%|          | 0/48 [00:00<?, ?q/s]

How many singers do we have?

Generating SQL:   2%|▏         | 1/48 [00:12<10:08, 12.96s/q]

✅ Success at index 0
{'db_id': 'concert_singer', 'question': 'How many singers do we have?', 'generated_sql': "SELECT COUNT(*) FROM teacher WHERE role = 'singer'", 'result': "Error: (sqlite3.OperationalError) no such table: teacher\n[SQL: SELECT COUNT(*) FROM teacher WHERE role = 'singer']\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", 'gold_sql': 'select count(*) from singer', 'gold_result': "('6',)"}
What is the total number of singers?

Generating SQL:   4%|▍         | 2/48 [00:31<12:24, 16.18s/q]

✅ Success at index 1
{'db_id': 'concert_singer', 'question': 'What is the total number of singers?', 'generated_sql': 'SELECT COUNT(*) FROM singer', 'result': "('6',)", 'gold_sql': 'select count(*) from singer', 'gold_result': "('6',)"}
Show name, country, age for all singers ordered by age from the oldest to the youngest.

Generating SQL:   6%|▋         | 3/48 [00:45<11:23, 15.20s/q]

✅ Success at index 2
{'db_id': 'concert_singer', 'question': 'Show name, country, age for all singers ordered by age from the oldest to the youngest.', 'generated_sql': 'SELECT name, country, age FROM singer ORDER BY age DESC', 'result': "('Joe Sharp', 'Netherlands', '52'), ('John Nizinik', 'France', '43'), ('Justin Brown', 'France', '29'), ('Rose White', 'France', '41'), ('Timbaland', 'United States', '32'), ('Tribal King', 'France', '25')", 'gold_sql': 'select name, country, age from singer order by age desc', 'gold_result': "('John Nizinik', 'France', '43'), ('Joe Sharp', 'Netherlands', '52'), ('Tribal King', 'France', '25'), ('Timbaland', 'United States', '32'), ('Justin Brown', 'France', '29'), ('Rose White', 'France', '41')"}
How many singers are there?

Generating SQL:   8%|▊         | 4/48 [01:00<11:15, 15.34s/q]

✅ Success at index 3
{'db_id': 'singer', 'question': 'How many singers are there?', 'generated_sql': 'SELECT COUNT(*) FROM singer', 'result': "('8',)", 'gold_sql': 'select count(*) from singer', 'gold_result': "('8',)"}
What is the count of singers?

Generating SQL:  10%|█         | 5/48 [01:27<13:47, 19.24s/q]

✅ Success at index 4
{'db_id': 'singer', 'question': 'What is the count of singers?', 'generated_sql': 'SELECT COUNT(*) FROM singer', 'result': "('8',)", 'gold_sql': 'select count(*) from singer', 'gold_result': "('8',)"}
What are the birth year and citizenship of singers?

Generating SQL:  12%|█▎        | 6/48 [01:48<14:01, 20.03s/q]

✅ Success at index 5
{'db_id': 'singer', 'question': 'What are the birth year and citizenship of singers?', 'generated_sql': 'SELECT birth_year, citizenship FROM singer', 'result': "('1940.0', 'United States'), ('1942.0', 'Chile'), ('1944.0', 'France'), ('1948.0', 'United States'), ('1949.0', 'United States'), ('1953.0', 'Australia'), ('1961.0', 'United States'), ('1962.0', 'Germany')", 'gold_sql': 'select birth_year, citizenship from singer', 'gold_result': "('1962.0', 'Germany'), ('1949.0', 'United States'), ('1942.0', 'Chile'), ('1940.0', 'United States'), ('1948.0', 'United States'), ('1953.0', 'Australia'), ('1961.0', 'United States'), ('1944.0', 'France')"}
What are the birth years and citizenships of the singers?

Generating SQL:  15%|█▍        | 7/48 [02:06<13:08, 19.24s/q]

✅ Success at index 6
{'db_id': 'singer', 'question': 'What are the birth years and citizenships of the singers?', 'generated_sql': 'SELECT birth_year, citizenship FROM singer', 'result': "('1940.0', 'United States'), ('1942.0', 'Chile'), ('1944.0', 'France'), ('1948.0', 'United States'), ('1949.0', 'United States'), ('1953.0', 'Australia'), ('1961.0', 'United States'), ('1962.0', 'Germany')", 'gold_sql': 'select birth_year, citizenship from singer', 'gold_result': "('1962.0', 'Germany'), ('1949.0', 'United States'), ('1942.0', 'Chile'), ('1940.0', 'United States'), ('1948.0', 'United States'), ('1953.0', 'Australia'), ('1961.0', 'United States'), ('1944.0', 'France')"}
List the name of singers whose citizenship is not "France".

Generating SQL:  17%|█▋        | 8/48 [02:20<11:49, 17.75s/q]

✅ Success at index 7
{'db_id': 'singer', 'question': 'List the name of singers whose citizenship is not "France".', 'generated_sql': "SELECT name FROM singer WHERE citizenship != 'France'", 'result': "('Abigail Johnson',), ('Alice Walton',), ('Christy Walton',), ('Gina Rinehart',), ('Iris Fontbona',), ('Jacqueline Mars',), ('Susanne Klatten',)", 'gold_sql': 'select name from singer where citizenship != "france"', 'gold_result': "('Iris Fontbona',), ('Gina Rinehart',), ('Abigail Johnson',), ('Susanne Klatten',), ('Jacqueline Mars',), ('Alice Walton',), ('Christy Walton',)"}
How many visitors below age 30 are there?

Generating SQL:  19%|█▉        | 9/48 [02:36<11:02, 16.98s/q]

✅ Success at index 8
{'db_id': 'museum_visit', 'question': 'How many visitors below age 30 are there?', 'generated_sql': 'SELECT COUNT(*) FROM singer WHERE age < 30', 'result': 'Error: (sqlite3.OperationalError) no such table: singer\n[SQL: SELECT COUNT(*) FROM singer WHERE age < 30]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select count(*) from visitor where age < 30', 'gold_result': "('3',)"}
How many dogs have an age below the average?

Generating SQL:  21%|██        | 10/48 [02:45<09:10, 14.48s/q]

✅ Success at index 9
{'db_id': 'dog_kennels', 'question': 'How many dogs have an age below the average?', 'generated_sql': 'SELECT COUNT(*) FROM dogs WHERE age < (SELECT AVG(age) FROM dogs)', 'result': "('9',)", 'gold_sql': 'select count(*) from dogs where age < (select avg(age) from dogs)', 'gold_result': "('9',)"}
Count the number of dogs of an age below the average.

Generating SQL:  23%|██▎       | 11/48 [03:03<09:45, 15.81s/q]

✅ Success at index 10
{'db_id': 'dog_kennels', 'question': 'Count the number of dogs of an age below the average.', 'generated_sql': 'SELECT COUNT(*) FROM Dogs WHERE Age < (SELECT AVG(Age) FROM Dogs)', 'result': "('9',)", 'gold_sql': 'select count(*) from dogs where age < (select avg(age) from dogs)', 'gold_result': "('9',)"}
List the earnings of poker players in descending order.

Generating SQL:  25%|██▌       | 12/48 [03:27<10:52, 18.13s/q]

✅ Success at index 11
{'db_id': 'poker_player', 'question': 'List the earnings of poker players in descending order.', 'generated_sql': 'SELECT earnings FROM Poker_Players ORDER BY earnings DESC', 'result': 'Error: (sqlite3.OperationalError) no such table: Poker_Players\n[SQL: SELECT earnings FROM Poker_Players ORDER BY earnings DESC]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select earnings from poker_player order by earnings desc', 'gold_result': "('596462.0',), ('189233.0',), ('476090.0',), ('142800.0',), ('104871.0',)"}
What are the earnings of poker players, ordered descending by value?

Generating SQL:  27%|██▋       | 13/48 [03:36<09:03, 15.54s/q]

✅ Success at index 12
{'db_id': 'poker_player', 'question': 'What are the earnings of poker players, ordered descending by value?', 'generated_sql': 'SELECT earnings FROM poker_player ORDER BY earnings DESC', 'result': "('104871.0',), ('142800.0',), ('189233.0',), ('476090.0',), ('596462.0',)", 'gold_sql': 'select earnings from poker_player order by earnings desc', 'gold_result': "('596462.0',), ('189233.0',), ('476090.0',), ('142800.0',), ('104871.0',)"}
What is the average earnings of poker players?

Generating SQL:  29%|██▉       | 14/48 [03:48<08:11, 14.45s/q]

✅ Success at index 13
{'db_id': 'poker_player', 'question': 'What is the average earnings of poker players?', 'generated_sql': 'SELECT AVG(earnings) FROM poker_player', 'result': "('301891.2',)", 'gold_sql': 'select avg(earnings) from poker_player', 'gold_result': "('301891.2',)"}
Return the average earnings across all poker players.

Generating SQL:  31%|███▏      | 15/48 [04:09<08:59, 16.33s/q]

✅ Success at index 14
{'db_id': 'poker_player', 'question': 'Return the average earnings across all poker players.', 'generated_sql': 'SELECT AVG(earnings) FROM poker_player', 'result': "('301891.2',)", 'gold_sql': 'select avg(earnings) from poker_player', 'gold_result': "('301891.2',)"}
List the title of all cartoons in alphabetical order.

Generating SQL:  33%|███▎      | 16/48 [04:28<09:05, 17.05s/q]

✅ Success at index 15
{'db_id': 'tvshow', 'question': 'List the title of all cartoons in alphabetical order.', 'generated_sql': '', 'result': '', 'gold_sql': 'select title from cartoon order by title', 'gold_result': "('Evil Under the Sea!',), ('Day of the Dark Knight!',), ('Deep Cover for Batman!',), ('Journey to the Center of the Bat!',), ('The Eyes of Despero!',), ('Enter the Outsiders!',), ('Dawn of the Dead Man!',), ('Return of the Fearsome Fangs!',), ('Fall of the Blue Beetle!',), ('The Rise of the Blue Beetle!',), ('Terror on Dinosaur Island!',), ('Invasion of the Secret Santas!',)"}
What are the titles of the cartoons sorted alphabetically?

Generating SQL:  35%|███▌      | 17/48 [04:38<07:45, 15.01s/q]

✅ Success at index 16
{'db_id': 'tvshow', 'question': 'What are the titles of the cartoons sorted alphabetically?', 'generated_sql': 'SELECT title FROM Cartoon ORDER BY title ASC', 'result': "('Dawn of the Dead Man!',), ('Day of the Dark Knight!',), ('Deep Cover for Batman!',), ('Enter the Outsiders!',), ('Evil Under the Sea!',), ('Fall of the Blue Beetle!',), ('Invasion of the Secret Santas!',), ('Journey to the Center of the Bat!',), ('Return of the Fearsome Fangs!',), ('Terror on Dinosaur Island!',), ('The Eyes of Despero!',), ('The Rise of the Blue Beetle!',)", 'gold_sql': 'select title from cartoon order by title', 'gold_result': "('Evil Under the Sea!',), ('Day of the Dark Knight!',), ('Deep Cover for Batman!',), ('Journey to the Center of the Bat!',), ('The Eyes of Despero!',), ('Enter the Outsiders!',), ('Dawn of the Dead Man!',), ('Return of the Fearsome Fangs!',), ('Fall of the Blue Beetle!',), ('The Rise of the Blue Beetle!',), ('Terror on Dinosaur Island!',), ('Invasion of the Secret Santas!',)"}
How many TV Channel using language English?

Generating SQL:  38%|███▊      | 18/48 [04:57<08:08, 16.29s/q]

✅ Success at index 17
{'db_id': 'tvshow', 'question': 'How many TV Channel using language English?', 'generated_sql': "SELECT COUNT(*) FROM TV_Channel WHERE language = 'English'", 'result': "('3',)", 'gold_sql': 'select count(*) from tv_channel where language = "english"', 'gold_result': "('3',)"}
List the Episode of all TV series sorted by rating.

Generating SQL:  40%|███▉      | 19/48 [05:00<05:53, 12.19s/q]

✅ Success at index 18
{'db_id': 'tvshow', 'question': 'List the Episode of all TV series sorted by rating.', 'generated_sql': 'SELECT Episode FROM TV_series ORDER BY rating', 'result': "('A Love of a Lifetime',), ('Blowback',), ('Double Down',), ('Emily',), ('Friendly Skies',), ('Game Three',), ('Home By Another Way',), ('Keepers',), ('The Hanged Man',), ('The Legend of Dylan McCleen',), ('The Year of the Rabbit',), ('Winterland',)", 'gold_sql': 'select episode from tv_series order by rating', 'gold_result': "('Game Three',), ('Emily',), ('The Year of the Rabbit',), ('Winterland',), ('A Love of a Lifetime',), ('Double Down',), ('Keepers',), ('Home By Another Way',), ('The Hanged Man',), ('Friendly Skies',), ('The Legend of Dylan McCleen',), ('Blowback',)"}
What is minimum and maximum share of TV series?

Generating SQL:  42%|████▏     | 20/48 [05:14<06:00, 12.88s/q]

✅ Success at index 19
{'db_id': 'tvshow', 'question': 'What is minimum and maximum share of TV series?', 'generated_sql': 'SELECT MIN(share), MAX(share) FROM TV_series', 'result': "('5.0', '9.0')", 'gold_sql': 'select max(share), min(share) from tv_series', 'gold_result': "('9.0', '5.0')"}
What is the maximum and minimum share for the TV series?

Generating SQL:  44%|████▍     | 21/48 [05:26<05:35, 12.44s/q]

✅ Success at index 20
{'db_id': 'tvshow', 'question': 'What is the maximum and minimum share for the TV series?', 'generated_sql': 'SELECT MAX(share), MIN(share) FROM TV_series', 'result': "('9.0', '5.0')", 'gold_sql': 'select max(share), min(share) from tv_series', 'gold_result': "('9.0', '5.0')"}
Find the total number of players.

Generating SQL:  46%|████▌     | 22/48 [05:40<05:37, 12.98s/q]

✅ Success at index 21
{'db_id': 'wta_1', 'question': 'Find the total number of players.', 'generated_sql': '', 'result': '', 'gold_sql': 'select count(*) from players', 'gold_result': "('20662',)"}
How many players are there?

Generating SQL:  48%|████▊     | 23/48 [05:55<05:41, 13.66s/q]

✅ Success at index 22
{'db_id': 'wta_1', 'question': 'How many players are there?', 'generated_sql': 'SELECT COUNT(*) FROM players', 'result': "('20662',)", 'gold_sql': 'select count(*) from players', 'gold_result': "('20662',)"}
Find the total number of matches.

Generating SQL:  50%|█████     | 24/48 [06:08<05:18, 13.27s/q]

✅ Success at index 23
{'db_id': 'wta_1', 'question': 'Find the total number of matches.', 'generated_sql': 'SELECT COUNT(*) FROM matches', 'result': "('278',)", 'gold_sql': 'select count(*) from matches', 'gold_result': "('278',)"}
Count the number of matches.

Generating SQL:  52%|█████▏    | 25/48 [06:21<05:05, 13.27s/q]

✅ Success at index 24
{'db_id': 'wta_1', 'question': 'Count the number of matches.', 'generated_sql': 'SELECT COUNT(*) FROM matches', 'result': "('278',)", 'gold_sql': 'select count(*) from matches', 'gold_result': "('278',)"}
What is the average rank for winners in all matches?

Generating SQL:  54%|█████▍    | 26/48 [06:38<05:17, 14.42s/q]

✅ Success at index 25
{'db_id': 'wta_1', 'question': 'What is the average rank for winners in all matches?', 'generated_sql': 'SELECT AVG(T1.rank) FROM rankings AS T1 INNER JOIN matches AS T2 ON T1.player_id = T2.winner_id', 'result': 'Error: (sqlite3.OperationalError) no such column: T1.rank\n[SQL: SELECT AVG(T1.rank) FROM rankings AS T1 INNER JOIN matches AS T2 ON T1.player_id = T2.winner_id]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select avg(winner_rank) from matches', 'gold_result': "('13.715827338129497',)"}
List the first and last name of all players in the order of birth date.

Generating SQL:  56%|█████▋    | 27/48 [06:55<05:21, 15.33s/q]

✅ Success at index 26
{'db_id': 'wta_1', 'question': 'List the first and last name of all players in the order of birth date.', 'generated_sql': '', 'result': '', 'gold_sql': 'select first_name, last_name from players order by birth_date', 'gold_result': 'None'}
What are the full names of all players, sorted by birth date?

Generating SQL:  58%|█████▊    | 28/48 [07:07<04:41, 14.08s/q]

✅ Success at index 27
{'db_id': 'wta_1', 'question': 'What are the full names of all players, sorted by birth date?', 'generated_sql': 'SELECT first_name, last_name FROM players ORDER BY birth_date', 'result': "Error: (sqlite3.OperationalError) Could not decode to UTF-8 column 'last_name' with text 'Treyes Albarrac��N'\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", 'gold_sql': 'select first_name, last_name from players order by birth_date', 'gold_result': 'None'}
How many teachers are there?

Generating SQL:  60%|██████    | 29/48 [07:30<05:18, 16.78s/q]

✅ Success at index 28
{'db_id': 'course_teach', 'question': 'How many teachers are there?', 'generated_sql': "SELECT COUNT(*) FROM players WHERE role = 'teacher'", 'result': "Error: (sqlite3.OperationalError) no such table: players\n[SQL: SELECT COUNT(*) FROM players WHERE role = 'teacher']\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", 'gold_sql': 'select count(*) from teacher', 'gold_result': "('7',)"}
What is the total count of teachers?

Generating SQL:  62%|██████▎   | 30/48 [07:48<05:08, 17.15s/q]

✅ Success at index 29
{'db_id': 'course_teach', 'question': 'What is the total count of teachers?', 'generated_sql': 'SELECT COUNT(*) FROM teacher', 'result': "('7',)", 'gold_sql': 'select count(*) from teacher', 'gold_result': "('7',)"}
List the names of teachers in ascending order of age.

Generating SQL:  65%|██████▍   | 31/48 [07:59<04:20, 15.32s/q]

✅ Success at index 30
{'db_id': 'course_teach', 'question': 'List the names of teachers in ascending order of age.', 'generated_sql': 'SELECT name FROM teacher ORDER BY age ASC', 'result': "('Anne Walker',), ('Gustaaf Deloor',), ('John Deloor',), ('Joseph Huts',), ('Kearsley Brown',), ('Lucy Wong',), ('Vicente Carretero',)", 'gold_sql': 'select name from teacher order by age asc', 'gold_result': "('Vicente Carretero',), ('Kearsley Brown',), ('Gustaaf Deloor',), ('Anne Walker',), ('John Deloor',), ('Joseph Huts',), ('Lucy Wong',)"}
What are the names of the teachers ordered by ascending age?

Generating SQL:  67%|██████▋   | 32/48 [08:12<03:53, 14.60s/q]

✅ Success at index 31
{'db_id': 'course_teach', 'question': 'What are the names of the teachers ordered by ascending age?', 'generated_sql': 'SELECT name FROM teacher ORDER BY age ASC', 'result': "('Anne Walker',), ('Gustaaf Deloor',), ('John Deloor',), ('Joseph Huts',), ('Kearsley Brown',), ('Lucy Wong',), ('Vicente Carretero',)", 'gold_sql': 'select name from teacher order by age asc', 'gold_result': "('Vicente Carretero',), ('Kearsley Brown',), ('Gustaaf Deloor',), ('Anne Walker',), ('John Deloor',), ('Joseph Huts',), ('Lucy Wong',)"}
What are the age and hometown of teachers?

Generating SQL:  69%|██████▉   | 33/48 [08:29<03:48, 15.26s/q]

✅ Success at index 32
{'db_id': 'course_teach', 'question': 'What are the age and hometown of teachers?', 'generated_sql': 'SELECT age, hometown FROM teacher', 'result': "('26', 'Farnworth Municipal Borough'), ('29', 'Bolton County Borough'), ('32', 'Blackrod Urban District'), ('33', 'Horwich Urban District'), ('39', 'Turton Urban District'), ('41', 'Little Lever Urban District'), ('45', 'Kearsley Urban District')", 'gold_sql': 'select age, hometown from teacher', 'gold_result': "('41', 'Little Lever Urban District'), ('26', 'Farnworth Municipal Borough'), ('33', 'Horwich Urban District'), ('39', 'Turton Urban District'), ('32', 'Blackrod Urban District'), ('29', 'Bolton County Borough'), ('45', 'Kearsley Urban District')"}
What is the age and hometown of every teacher?

Generating SQL:  71%|███████   | 34/48 [08:42<03:25, 14.64s/q]

✅ Success at index 33
{'db_id': 'course_teach', 'question': 'What is the age and hometown of every teacher?', 'generated_sql': 'SELECT age, hometown FROM teacher', 'result': "('26', 'Farnworth Municipal Borough'), ('29', 'Bolton County Borough'), ('32', 'Blackrod Urban District'), ('33', 'Horwich Urban District'), ('39', 'Turton Urban District'), ('41', 'Little Lever Urban District'), ('45', 'Kearsley Urban District')", 'gold_sql': 'select age, hometown from teacher', 'gold_result': "('41', 'Little Lever Urban District'), ('26', 'Farnworth Municipal Borough'), ('33', 'Horwich Urban District'), ('39', 'Turton Urban District'), ('32', 'Blackrod Urban District'), ('29', 'Bolton County Borough'), ('45', 'Kearsley Urban District')"}
List the name of teachers whose hometown is not `` Little Lever Urban District '' .

Generating SQL:  73%|███████▎  | 35/48 [08:57<03:12, 14.83s/q]

✅ Success at index 34
{'db_id': 'course_teach', 'question': "List the name of teachers whose hometown is not `` Little Lever Urban District '' .", 'generated_sql': "SELECT name FROM teacher WHERE hometown != 'Little Lever Urban District'", 'result': "('Gustaaf Deloor',), ('John Deloor',), ('Joseph Huts',), ('Kearsley Brown',), ('Lucy Wong',), ('Vicente Carretero',)", 'gold_sql': 'select name from teacher where hometown != "little lever urban district"', 'gold_result': "('Vicente Carretero',), ('Kearsley Brown',), ('Gustaaf Deloor',), ('Anne Walker',), ('John Deloor',), ('Joseph Huts',), ('Lucy Wong',)"}
What are the names of the teachers whose hometown is not `` Little Lever Urban District '' ?

Generating SQL:  75%|███████▌  | 36/48 [09:10<02:49, 14.15s/q]

✅ Success at index 35
{'db_id': 'course_teach', 'question': "What are the names of the teachers whose hometown is not `` Little Lever Urban District '' ?", 'generated_sql': "SELECT name FROM teacher WHERE hometown != 'Little Lever Urban District'", 'result': "('Gustaaf Deloor',), ('John Deloor',), ('Joseph Huts',), ('Kearsley Brown',), ('Lucy Wong',), ('Vicente Carretero',)", 'gold_sql': 'select name from teacher where hometown != "little lever urban district"', 'gold_result': "('Vicente Carretero',), ('Kearsley Brown',), ('Gustaaf Deloor',), ('Anne Walker',), ('John Deloor',), ('Joseph Huts',), ('Lucy Wong',)"}
What is the number of employees from each city?

Generating SQL:  77%|███████▋  | 37/48 [09:21<02:26, 13.32s/q]

✅ Success at index 36
{'db_id': 'employee_hire_evaluation', 'question': 'What is the number of employees from each city?', 'generated_sql': 'SELECT city, COUNT(*) FROM teacher GROUP BY city', 'result': 'Error: (sqlite3.OperationalError) no such table: teacher\n[SQL: SELECT city, COUNT(*) FROM teacher GROUP BY city]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)', 'gold_sql': 'select count(*), city from employee group by city', 'gold_result': "('2', 'Wasps'), ('3', 'Bath'), ('1', 'Sale'), ('3', 'Bristol'), ('1', 'Leicester')"}
Count the number of employees for each city.

Generating SQL:  79%|███████▉  | 38/48 [09:32<02:06, 12.61s/q]

✅ Success at index 37
{'db_id': 'employee_hire_evaluation', 'question': 'Count the number of employees for each city.', 'generated_sql': 'SELECT city, COUNT(*) FROM employee GROUP BY city', 'result': "('Bath', '3'), ('Bristol', '3'), ('Leicester', '1'), ('Sale', '1'), ('Wasps', '2')", 'gold_sql': 'select count(*), city from employee group by city', 'gold_result': "('2', 'Wasps'), ('3', 'Bath'), ('1', 'Sale'), ('3', 'Bristol'), ('1', 'Leicester')"}
Find the number of shops in each location.

Generating SQL:  81%|████████▏ | 39/48 [09:54<02:19, 15.53s/q]

✅ Success at index 38
{'db_id': 'employee_hire_evaluation', 'question': 'Find the number of shops in each location.', 'generated_sql': 'SELECT location, COUNT(*) FROM shop GROUP BY location', 'result': "('Espoo', '1'), ('Helsinki', '1'), ('Jakobstad', '1'), ('Kotka', '1'), ('Kuopio', '1'), ('Lahti', '1'), ('Mariehamn', '1'), ('Turku', '1'), ('Valkeakoski', '1')", 'gold_sql': 'select count(*), location from shop group by location', 'gold_result': "('1', 'Lahti'), ('1', 'Valkeakoski'), ('1', 'Kuopio'), ('1', 'Mariehamn'), ('1', 'Turku'), ('1', 'Jakobstad'), ('1', 'Espoo'), ('1', 'Kotka'), ('1', 'Helsinki')"}
How many shops are there in each location?

Generating SQL:  83%|████████▎ | 40/48 [10:05<01:51, 13.97s/q]

✅ Success at index 39
{'db_id': 'employee_hire_evaluation', 'question': 'How many shops are there in each location?', 'generated_sql': 'SELECT location, COUNT(*) FROM shop GROUP BY location', 'result': "('Espoo', '1'), ('Helsinki', '1'), ('Jakobstad', '1'), ('Kotka', '1'), ('Kuopio', '1'), ('Lahti', '1'), ('Mariehamn', '1'), ('Turku', '1'), ('Valkeakoski', '1')", 'gold_sql': 'select count(*), location from shop group by location', 'gold_result': "('1', 'Lahti'), ('1', 'Valkeakoski'), ('1', 'Kuopio'), ('1', 'Mariehamn'), ('1', 'Turku'), ('1', 'Jakobstad'), ('1', 'Espoo'), ('1', 'Kotka'), ('1', 'Helsinki')"}
How many employees are there?

Generating SQL:  85%|████████▌ | 41/48 [10:24<01:49, 15.62s/q]

✅ Success at index 40
{'db_id': 'employee_hire_evaluation', 'question': 'How many employees are there?', 'generated_sql': 'SELECT COUNT(*) FROM employee', 'result': "('10',)", 'gold_sql': 'select count(*) from employee', 'gold_result': "('10',)"}
Count the number of employees

Generating SQL:  88%|████████▊ | 42/48 [10:35<01:25, 14.20s/q]

✅ Success at index 41
{'db_id': 'employee_hire_evaluation', 'question': 'Count the number of employees', 'generated_sql': 'SELECT COUNT(*) FROM employee', 'result': "('10',)", 'gold_sql': 'select count(*) from employee', 'gold_result': "('10',)"}
Sort employee names by their age in ascending order.

Generating SQL:  90%|████████▉ | 43/48 [10:48<01:09, 13.95s/q]

✅ Success at index 42
{'db_id': 'employee_hire_evaluation', 'question': 'Sort employee names by their age in ascending order.', 'generated_sql': '', 'result': '', 'gold_sql': 'select name from employee order by age', 'gold_result': "('Lee Mears',), ('Tim Payne',), ('Louis Deacon',), ('Steve Borthwick',), ('Jason Hobson',), ('Mark Regan',), ('George Chuter',), ('Matt Stevens',), ('Phil Vickery',), ('Andrew Sheridan',)"}
List the names of employees and sort in ascending order of age.

Generating SQL:  92%|█████████▏| 44/48 [11:01<00:54, 13.61s/q]

✅ Success at index 43
{'db_id': 'employee_hire_evaluation', 'question': 'List the names of employees and sort in ascending order of age.', 'generated_sql': 'SELECT name FROM employee ORDER BY age ASC', 'result': "('Andrew Sheridan',), ('George Chuter',), ('Jason Hobson',), ('Lee Mears',), ('Louis Deacon',), ('Mark Regan',), ('Matt Stevens',), ('Phil Vickery',), ('Steve Borthwick',), ('Tim Payne',)", 'gold_sql': 'select name from employee order by age', 'gold_result': "('Lee Mears',), ('Tim Payne',), ('Louis Deacon',), ('Steve Borthwick',), ('Jason Hobson',), ('Mark Regan',), ('George Chuter',), ('Matt Stevens',), ('Phil Vickery',), ('Andrew Sheridan',)"}
What is total bonus given in all evaluations?

Generating SQL:  94%|█████████▍| 45/48 [11:12<00:38, 12.71s/q]

✅ Success at index 44
{'db_id': 'employee_hire_evaluation', 'question': 'What is total bonus given in all evaluations?', 'generated_sql': 'SELECT SUM(bonus) FROM evaluation', 'result': "('19500.0',)", 'gold_sql': 'select sum(bonus) from evaluation', 'gold_result': "('19500.0',)"}
Find the total amount of bonus given in all the evaluations.

Generating SQL:  96%|█████████▌| 46/48 [11:32<00:30, 15.05s/q]

✅ Success at index 45
{'db_id': 'employee_hire_evaluation', 'question': 'Find the total amount of bonus given in all the evaluations.', 'generated_sql': 'SELECT SUM(bonus) FROM evaluation', 'result': "('19500.0',)", 'gold_sql': 'select sum(bonus) from evaluation', 'gold_result': "('19500.0',)"}
Give me all the information about hiring.

Generating SQL:  98%|█████████▊| 47/48 [11:44<00:13, 13.96s/q]

✅ Success at index 46
{'db_id': 'employee_hire_evaluation', 'question': 'Give me all the information about hiring.', 'generated_sql': '', 'result': '', 'gold_sql': 'select * from hiring', 'gold_result': "('4', '4', '2012', 'T'), ('1', '1', '2009', 'T'), ('2', '6', '2010', 'F'), ('8', '3', '2011', 'F'), ('6', '7', '2008', 'T'), ('1', '2', '2003', 'T'), ('5', '5', '2013', 'T')"}
What is all the information about hiring?

Generating SQL: 100%|██████████| 48/48 [12:08<00:00, 15.18s/q]

✅ Success at index 47
{'db_id': 'employee_hire_evaluation', 'question': 'What is all the information about hiring?', 'generated_sql': '', 'result': '', 'gold_sql': 'select * from hiring', 'gold_result': "('4', '4', '2012', 'T'), ('1', '1', '2009', 'T'), ('2', '6', '2010', 'F'), ('8', '3', '2011', 'F'), ('6', '7', '2008', 'T'), ('1', '2', '2003', 'T'), ('5', '5', '2013', 'T')"}

In [64]:
import json
import ast

# Load the merged JSON file
with open("easy_answers.json", "r") as f:
    data = json.load(f)

# Utility to parse result string into list of tuples
def parse_result_string(result_str):
    try:
        parsed = ast.literal_eval(f"[{result_str}]")  # convert comma-separated tuples into a list
        return parsed if isinstance(parsed, list) else []
    except Exception:
        return []

# Build prediction and gold lists
predictions = []
gold_data = []

for item in data:
    pred_sql = item.get("generated_sql", "")
    pred_result = parse_result_string(item.get("result", ""))

    gold_sql = item.get("gold_sql", "")
    gold_result = parse_result_string(item.get("gold_result", ""))

    predictions.append((pred_sql, pred_result))
    gold_data.append((gold_sql, gold_result))

# Check samples
print("Example prediction:", predictions[0])
print("Example gold:", gold_data[0])

Example prediction: ("SELECT COUNT(*) FROM teacher WHERE role = 'singer'", [])
Example gold: ('select count(*) from singer', [('6',)])

## Evaluation

In [57]:
from typing import List, Tuple, Dict
import sqlparse

def normalize_sql(sql):
    sql = sql.strip().rstrip(';')
    parsed = sqlparse.format(sql, keyword_case='lower', strip_comments=True, reindent=True)
    return " ".join(parsed.strip().split()).lower()

def normalize_result(result):
    if not result or not isinstance(result, list):
        return set()

    normalized = set()
    for row in result:
        if row is None:
            continue  # skip invalid rows
        try:
            normalized.add(tuple(str(item).strip() for item in row))
        except Exception:
            continue  # skip malformed rows

    return normalized
def extract_components(sql):
    parsed = sqlparse.parse(sql)
    if not parsed:
        return {"select": set(), "from": set(), "where": set()}
    stmt = parsed[0]

    select_tokens = set()
    from_tokens = set()
    where_tokens = set()

    is_select = False
    is_from = False
    is_where = False

    for token in stmt.tokens:
        if token.is_group:
            for subtoken in token.flatten():
                tval = subtoken.value.lower().strip()
                if tval in ("select", "from", "where"):
                    is_select = tval == "select"
                    is_from = tval == "from"
                    is_where = tval == "where"
                    continue
                if is_select and subtoken.ttype in (sqlparse.tokens.Name, sqlparse.tokens.Wildcard):
                    select_tokens.add(tval)
                elif is_from and subtoken.ttype in (sqlparse.tokens.Name,):
                    from_tokens.add(tval)
                elif is_where and subtoken.ttype in (sqlparse.tokens.Name, sqlparse.tokens.Literal.Number.Integer, sqlparse.tokens.Operator.Comparison):
                    where_tokens.add(tval)
        else:
            tval = token.value.lower().strip()
            if tval in ("select", "from", "where"):
                is_select = tval == "select"
                is_from = tval == "from"
                is_where = tval == "where"
                continue
            if is_select and token.ttype in (sqlparse.tokens.Name, sqlparse.tokens.Wildcard):
                select_tokens.add(tval)
            elif is_from and token.ttype in (sqlparse.tokens.Name,):
                from_tokens.add(tval)
            elif is_where and token.ttype in (sqlparse.tokens.Name, sqlparse.tokens.Literal.Number.Integer, sqlparse.tokens.Operator.Comparison):
                where_tokens.add(tval)

    return {"select": select_tokens, "from": from_tokens, "where": where_tokens}

def jaccard_similarity(set1, set2):
    if not set1 and not set2:
        return 1.0
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    return intersection / union if union > 0 else 0
def evaluate_predictions(
    predictions: List[Tuple[str, List[Tuple]]],
    gold_data: List[Tuple[str, List[Tuple]]]
) -> Dict[str, float]:
    """
    Evaluate a list of predicted SQL queries and their results against gold SQL queries and results.

    Each element in the predictions and gold_data lists is a tuple:
    (sql_query: str, result: List[Tuple])

    Returns:
    A dictionary with evaluation metrics.
    """
    exact_match_count = 0
    execution_match_count = 0
    total = len(predictions)

    jaccard_scores = {
        "select": 0.0,
        "from": 0.0,
        "where": 0.0
    }

    for (pred_sql, pred_result), (gold_sql, gold_result) in zip(predictions, gold_data):
        norm_pred_sql = normalize_sql(pred_sql)
        norm_gold_sql = normalize_sql(gold_sql)

        norm_pred_result = normalize_result(pred_result)
        norm_gold_result = normalize_result(gold_result)

        if norm_pred_sql == norm_gold_sql:
            exact_match_count += 1

        if norm_pred_result == norm_gold_result:
            execution_match_count += 1

        pred_components = extract_components(norm_pred_sql)
        gold_components = extract_components(norm_gold_sql)

        for key in jaccard_scores.keys():
            jaccard_scores[key] += jaccard_similarity(pred_components.get(key, set()), gold_components.get(key, set()))

    # Average jaccard scores
    for key in jaccard_scores:
        jaccard_scores[key] /= total

    metrics = {
        "total": total,
        "exact_match_accuracy": exact_match_count / total if total else 0.0,
        "execution_match_accuracy": execution_match_count / total if total else 0.0,
        "select_jaccard": jaccard_scores["select"],
        "from_jaccard": jaccard_scores["from"],
        "where_jaccard": jaccard_scores["where"]
    }

    return metrics

In [127]:
import json
import ast

# Load the merged JSON file
with open("hard_answers.json", "r") as f:
    data = json.load(f)

# Utility to parse result string into list of tuples
def parse_result_string(result_str):
    try:
        parsed = ast.literal_eval(f"[{result_str}]")  # convert comma-separated tuples into a list
        return parsed if isinstance(parsed, list) else []
    except Exception:
        return []

# Build prediction and gold lists
hard_predictions = []
hard_gold_data = []

for item in data:
    pred_sql = item.get("generated_sql", "")
    pred_result = parse_result_string(item.get("result", ""))

    gold_sql = item.get("gold_sql", "")
    gold_result = parse_result_string(item.get("gold_result", ""))

    hard_predictions.append((pred_sql, pred_result))
    hard_gold_data.append((gold_sql, gold_result))

# Check samples
print("Example prediction:", hard_predictions[0])
print("Example gold:", hard_gold_data[0])

Example prediction: ('SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age > 40 INTERSECT SELECT T1.country FROM singer AS T1 INNER JOIN singer_in_concert AS T2 ON T1.id = T2.singer_id INNER JOIN concert AS T3 ON T2.concert_id = T3.id WHERE T1.age < 30', [])
Example gold: ('select country from singer where age > 40 intersect select country from singer where age < 30', [('France',)])

In [128]:
evaluate_predictions(hard_predictions, hard_gold_data)

{'total': 15,
 'exact_match_accuracy': 0.13333333333333333,
 'execution_match_accuracy': 0.6666666666666666,
 'select_jaccard': 0.8111111111111111,
 'from_jaccard': 0.674074074074074,
 'where_jaccard': 0.88}

In [129]:
import json
import ast

# Load the merged JSON file
with open("medium_answers.json", "r") as f:
    data = json.load(f)

# Utility to parse result string into list of tuples
def parse_result_string(result_str):
    try:
        parsed = ast.literal_eval(f"[{result_str}]")  # convert comma-separated tuples into a list
        return parsed if isinstance(parsed, list) else []
    except Exception:
        return []

# Build prediction and gold lists
medium_predictions = []
medium_gold_data = []

for item in data:
    pred_sql = item.get("generated_sql", "")
    pred_result = parse_result_string(item.get("result", ""))

    gold_sql = item.get("gold_sql", "")
    gold_result = parse_result_string(item.get("gold_result", ""))

    medium_predictions.append((pred_sql, pred_result))
    medium_gold_data.append((gold_sql, gold_result))

# Check samples
print("Example prediction:", medium_predictions[0])
print("Example gold:", medium_gold_data[0])

Example prediction: ('SELECT DISTINCT country FROM singer WHERE age > 20', [('France',), ('Netherlands',), ('United States',)])
Example gold: ('select distinct country from singer where age > 20', [('Netherlands',), ('France',), ('United States',)])

In [130]:
evaluate_predictions(medium_predictions, medium_gold_data)

{'total': 23,
 'exact_match_accuracy': 0.7391304347826086,
 'execution_match_accuracy': 0.782608695652174,
 'select_jaccard': 0.9043478260869564,
 'from_jaccard': 0.9195134575569359,
 'where_jaccard': 1.0}

In [131]:
import json
import ast

# Load the merged JSON file
with open("easy_answers.json", "r") as f:
    data = json.load(f)

# Utility to parse result string into list of tuples
def parse_result_string(result_str):
    try:
        parsed = ast.literal_eval(f"[{result_str}]")  # convert comma-separated tuples into a list
        return parsed if isinstance(parsed, list) else []
    except Exception:
        return []

# Build prediction and gold lists
easy_predictions = []
easy_gold_data = []

for item in data:
    pred_sql = item.get("generated_sql", "")
    pred_result = parse_result_string(item.get("result", ""))

    gold_sql = item.get("gold_sql", "")
    gold_result = parse_result_string(item.get("gold_result", ""))

    easy_predictions.append((pred_sql, pred_result))
    easy_gold_data.append((gold_sql, gold_result))

# Check samples
print("Example prediction:", easy_predictions[0])
print("Example gold:", easy_gold_data[0])

Example prediction: ("SELECT COUNT(*) FROM teacher WHERE role = 'singer'", [])
Example gold: ('select count(*) from singer', [('6',)])

In [132]:
easy_predictions

[("SELECT COUNT(*) FROM teacher WHERE role = 'singer'", []),
 ('SELECT COUNT(*) FROM singer', [('6',)]),
 ('SELECT name, country, age FROM singer ORDER BY age DESC',
  [('Joe Sharp', 'Netherlands', '52'),
   ('John Nizinik', 'France', '43'),
   ('Justin Brown', 'France', '29'),
   ('Rose White', 'France', '41'),
   ('Timbaland', 'United States', '32'),
   ('Tribal King', 'France', '25')]),
 ('SELECT COUNT(*) FROM singer', [('8',)]),
 ('SELECT COUNT(*) FROM singer', [('8',)]),
 ('SELECT birth_year, citizenship FROM singer',
  [('1940.0', 'United States'),
   ('1942.0', 'Chile'),
   ('1944.0', 'France'),
   ('1948.0', 'United States'),
   ('1949.0', 'United States'),
   ('1953.0', 'Australia'),
   ('1961.0', 'United States'),
   ('1962.0', 'Germany')]),
 ('SELECT birth_year, citizenship FROM singer',
  [('1940.0', 'United States'),
   ('1942.0', 'Chile'),
   ('1944.0', 'France'),
   ('1948.0', 'United States'),
   ('1949.0', 'United States'),
   ('1953.0', 'Australia'),
   ('1961.0', 'United States'),
   ('1962.0', 'Germany')]),
 ("SELECT name FROM singer WHERE citizenship != 'France'",
  [('Abigail Johnson',),
   ('Alice Walton',),
   ('Christy Walton',),
   ('Gina Rinehart',),
   ('Iris Fontbona',),
   ('Jacqueline Mars',),
   ('Susanne Klatten',)]),
 ('SELECT COUNT(*) FROM singer WHERE age < 30', []),
 ('SELECT COUNT(*) FROM dogs WHERE age < (SELECT AVG(age) FROM dogs)',
  [('9',)]),
 ('SELECT COUNT(*) FROM Dogs WHERE Age < (SELECT AVG(Age) FROM Dogs)',
  [('9',)]),
 ('SELECT earnings FROM Poker_Players ORDER BY earnings DESC', []),
 ('SELECT earnings FROM poker_player ORDER BY earnings DESC',
  [('104871.0',), ('142800.0',), ('189233.0',), ('476090.0',), ('596462.0',)]),
 ('SELECT AVG(earnings) FROM poker_player', [('301891.2',)]),
 ('SELECT AVG(earnings) FROM poker_player', [('301891.2',)]),
 ('', []),
 ('SELECT title FROM Cartoon ORDER BY title ASC',
  [('Dawn of the Dead Man!',),
   ('Day of the Dark Knight!',),
   ('Deep Cover for Batman!',),
   ('Enter the Outsiders!',),
   ('Evil Under the Sea!',),
   ('Fall of the Blue Beetle!',),
   ('Invasion of the Secret Santas!',),
   ('Journey to the Center of the Bat!',),
   ('Return of the Fearsome Fangs!',),
   ('Terror on Dinosaur Island!',),
   ('The Eyes of Despero!',),
   ('The Rise of the Blue Beetle!',)]),
 ("SELECT COUNT(*) FROM TV_Channel WHERE language = 'English'", [('3',)]),
 ('SELECT Episode FROM TV_series ORDER BY rating',
  [('A Love of a Lifetime',),
   ('Blowback',),
   ('Double Down',),
   ('Emily',),
   ('Friendly Skies',),
   ('Game Three',),
   ('Home By Another Way',),
   ('Keepers',),
   ('The Hanged Man',),
   ('The Legend of Dylan McCleen',),
   ('The Year of the Rabbit',),
   ('Winterland',)]),
 ('SELECT MIN(share), MAX(share) FROM TV_series', [('5.0', '9.0')]),
 ('SELECT MAX(share), MIN(share) FROM TV_series', [('9.0', '5.0')]),
 ('', []),
 ('SELECT COUNT(*) FROM players', [('20662',)]),
 ('SELECT COUNT(*) FROM matches', [('278',)]),
 ('SELECT COUNT(*) FROM matches', [('278',)]),
 ('SELECT AVG(T1.rank) FROM rankings AS T1 INNER JOIN matches AS T2 ON T1.player_id = T2.winner_id',
  []),
 ('', []),
 ('SELECT first_name, last_name FROM players ORDER BY birth_date', []),
 ("SELECT COUNT(*) FROM players WHERE role = 'teacher'", []),
 ('SELECT COUNT(*) FROM teacher', [('7',)]),
 ('SELECT name FROM teacher ORDER BY age ASC',
  [('Anne Walker',),
   ('Gustaaf Deloor',),
   ('John Deloor',),
   ('Joseph Huts',),
   ('Kearsley Brown',),
   ('Lucy Wong',),
   ('Vicente Carretero',)]),
 ('SELECT name FROM teacher ORDER BY age ASC',
  [('Anne Walker',),
   ('Gustaaf Deloor',),
   ('John Deloor',),
   ('Joseph Huts',),
   ('Kearsley Brown',),
   ('Lucy Wong',),
   ('Vicente Carretero',)]),
 ('SELECT age, hometown FROM teacher',
  [('26', 'Farnworth Municipal Borough'),
   ('29', 'Bolton County Borough'),
   ('32', 'Blackrod Urban District'),
   ('33', 'Horwich Urban District'),
   ('39', 'Turton Urban District'),
   ('41', 'Little Lever Urban District'),
   ('45', 'Kearsley Urban District')]),
 ('SELECT age, hometown FROM teacher',
  [('26', 'Farnworth Municipal Borough'),
   ('29', 'Bolton County Borough'),
   ('32', 'Blackrod Urban District'),
   ('33', 'Horwich Urban District'),
   ('39', 'Turton Urban District'),
   ('41', 'Little Lever Urban District'),
   ('45', 'Kearsley Urban District')]),
 ("SELECT name FROM teacher WHERE hometown != 'Little Lever Urban District'",
  [('Gustaaf Deloor',),
   ('John Deloor',),
   ('Joseph Huts',),
   ('Kearsley Brown',),
   ('Lucy Wong',),
   ('Vicente Carretero',)]),
 ("SELECT name FROM teacher WHERE hometown != 'Little Lever Urban District'",
  [('Gustaaf Deloor',),
   ('John Deloor',),
   ('Joseph Huts',),
   ('Kearsley Brown',),
   ('Lucy Wong',),
   ('Vicente Carretero',)]),
 ('SELECT city, COUNT(*) FROM teacher GROUP BY city', []),
 ('SELECT city, COUNT(*) FROM employee GROUP BY city',
  [('Bath', '3'),
   ('Bristol', '3'),
   ('Leicester', '1'),
   ('Sale', '1'),
   ('Wasps', '2')]),
 ('SELECT location, COUNT(*) FROM shop GROUP BY location',
  [('Espoo', '1'),
   ('Helsinki', '1'),
   ('Jakobstad', '1'),
   ('Kotka', '1'),
   ('Kuopio', '1'),
   ('Lahti', '1'),
   ('Mariehamn', '1'),
   ('Turku', '1'),
   ('Valkeakoski', '1')]),
 ('SELECT location, COUNT(*) FROM shop GROUP BY location',
  [('Espoo', '1'),
   ('Helsinki', '1'),
   ('Jakobstad', '1'),
   ('Kotka', '1'),
   ('Kuopio', '1'),
   ('Lahti', '1'),
   ('Mariehamn', '1'),
   ('Turku', '1'),
   ('Valkeakoski', '1')]),
 ('SELECT COUNT(*) FROM employee', [('10',)]),
 ('SELECT COUNT(*) FROM employee', [('10',)]),
 ('', []),
 ('SELECT name FROM employee ORDER BY age ASC',
  [('Andrew Sheridan',),
   ('George Chuter',),
   ('Jason Hobson',),
   ('Lee Mears',),
   ('Louis Deacon',),
   ('Mark Regan',),
   ('Matt Stevens',),
   ('Phil Vickery',),
   ('Steve Borthwick',),
   ('Tim Payne',)]),
 ('SELECT SUM(bonus) FROM evaluation', [('19500.0',)]),
 ('SELECT SUM(bonus) FROM evaluation', [('19500.0',)]),
 ('', []),
 ('', [])]

In [133]:
evaluate_predictions(easy_predictions, easy_gold_data)

{'total': 48,
 'exact_match_accuracy': 0.5416666666666666,
 'execution_match_accuracy': 0.6458333333333334,
 'select_jaccard': 0.859375,
 'from_jaccard': 0.7673611111111112,
 'where_jaccard': 0.9583333333333334}

## Logic Equivalence Check

In [134]:
import json

# Helper function
def extract_question_and_result(file_path):
    with open(file_path, "r") as f:
        lines = f.readlines()

    data = []
    current = {}

    for line in lines:
        line = line.strip()
        if line.startswith("Question:"):
            current["question"] = line.replace("Question:", "").strip()
        elif line.startswith("Execution Result:"):
            current["execution_result"] = line.replace("Execution Result:", "").strip()
            if "question" in current:  # Ensure both parts exist
                data.append(current)
            current = {}  # Reset for next instance

    return data

# Process each difficulty file
easy_data = extract_question_and_result("easy.txt")
medium_data = extract_question_and_result("medium.txt")
hard_data = extract_question_and_result("hard.txt")

# Write to JSON
with open("questions_easy.json", "w") as f:
    json.dump(easy_data, f, indent=2)

with open("questions_medium.json", "w") as f:
    json.dump(medium_data, f, indent=2)

with open("questions_hard.json", "w") as f:
    json.dump(hard_data, f, indent=2)

print("✅ JSON files written with question and execution_result.")

✅ JSON files written with question and execution_result.

In [135]:
with open("questions_easy.json", "r") as f:
    easy_data = json.load(f)

with open("questions_medium.json", "r") as f:
    medium_data = json.load(f)

with open("questions_hard.json", "r") as f:
    hard_data = json.load(f)

print("Number of easy questions:", len(easy_data))
print("Number of medium questions:", len(medium_data))
print("Number of hard questions:", len(hard_data))

Number of easy questions: 48
Number of medium questions: 23
Number of hard questions: 15

In [140]:
easy_execution=[]
medium_execution=[]
hard_execution=[]

for item in easy_predictions:
    easy_execution.append(item[1])

for item in medium_predictions:
    medium_execution.append(item[1])

for item in hard_predictions:
    hard_execution.append(item[1])

easy_execution=[str(item) for item in easy_execution]
medium_execution=[str(item) for item in medium_execution]
hard_execution=[str(item) for item in hard_execution]

In [137]:
custom_easy=[]
custom_medium=[]
custom_hard=[]

for item in easy_data:
    custom_easy.append(item["execution_result"].replace("{", "[").replace("}", "]"))

for item in medium_data:
    custom_medium.append(item["execution_result"].replace("{", "[").replace("}", "]"))

for item in hard_data:
    custom_hard.append(item["execution_result"].replace("{", "[").replace("}", "]"))

In [148]:
import ast

def normalize_result_string(result_str):
    """
    Converts a result string like "[('Alice',), ('Bob',)]" or "('Alice',), ('Bob',)" into a set of tuples.
    Handles empty strings and malformed inputs gracefully.
    """
    if not result_str.strip():
        return set()

    try:
        # Ensure it's parsable as a list: wrap if not
        if not result_str.strip().startswith("["):
            result_str = "[" + result_str + "]"

        parsed = ast.literal_eval(result_str)
        if isinstance(parsed, list):
            return set(tuple(str(x).strip() for x in row) for row in parsed)
    except Exception:
        pass

    return set()

def logic_equivalence_score(langchain_results, agentic_results):
    assert len(langchain_results) == len(agentic_results), "Mismatched result lengths"

    total = len(langchain_results)
    equivalent_count = 0

    for l_result, a_result in zip(langchain_results, agentic_results):
        if normalize_result_string(l_result) == normalize_result_string(a_result):
            equivalent_count += 1

    return equivalent_count / total if total > 0 else 0.0

In [149]:
logic_equivalence_score(easy_execution,custom_easy)

0.6458333333333334

In [150]:
logic_equivalence_score(medium_execution,custom_medium)

0.782608695652174

In [151]:
logic_equivalence_score(hard_execution,custom_hard)

0.6